<ul class="navigation primary">
  <% Tag.of_kind("Partner").each do |type| %>
    <li class="<%= active_li_css(@view_by, type.name) %>">
			<%= 
				link_to_unless(
				  (@view_by == type.name),
					type.name,
					:controller => 'admin/partners',
					:action => 'index',
					:type => type.name
				)
			%>
		</li>
	<% end %>
</ul>
<div class="clear"></div>