<div class="row">
  <div class="column grid_10">
    <h1>All Partners List</h1>
  </div>
  <div class="column grid_3">
    <%= link_to "Create New Partner", new_admin_partner_path %>
    <h3>Search Partner</h3>
    <%= form_tag search_path, :method=>'get' do%>
		<p>
			<%= text_field_tag :search, params[:search] %>
			<%= submit_tag 'Go' %>
		</p>
	<% end %>
    <h3>View Partner By Category</h3>
  </div>
</div>