.item
  .content
    .stream-item-header
      %small.time 4月28
      %span
        = image_tag "im_facebookprofile.png", :class=>"avatar"
      %strong
        = link_to "画旅途","#"
      %p{:style=>"word-wrap: break-word;"} #{comment.content}