<% tableize @results,
            :name => 'Results',
            :header => 'Listing Search Results',
            :cols => 3,
            :generate_css => 'true' do |result| %>
     <% if result.kind_of?(Feat) %>
     	<h3><%= "!#{result[:name]}" %></h3>
     	<p>
       		<%= image_tag result.image.url(:medium) if result.image %>
     	<p>
	 <%elsif result.kind_of?(Reward) %>
	 	<h3><%= result.partner.business_name %></h3>
     	<p>
       		<%= image_tag result.image.url(:medium) if result.image %>
     	<p>
	 <%end%>
<% end if !@results.nil? %>