<div id=<%= @feat.id %>>
  <div class="cell" style="padding-right: 5px"><%= image_tag @feat.image.url(:thumb), :width => 25, :height => 25 %></div>
  <div class="cell" style="width: 300px;vertical-align: middle"><%= @feat.name %></div>
  <div class="cell delete_action" style="width: 25px;cursor: pointer;vertical-align: middle;"><%= image_tag "/images/im_delete.png" %></div>
</div>


