<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome back to Goodlife.com, <%= @user.name %></h1>
    <p>
      You have successfully checked in feat <%= @feat.name %>.
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for checked-in and have a great day!</p>
  </body>
</html>