<ul class="navigation primary">
  <li class="leftnavitem <%= active_li_css(@view_by, "all") %>"><%= link_to "All", search_local_rewards_path('all', params[:address]) %></li>
  <% Tag.of_kind("Reward").each do |type| %>
    <li class="leftnavitem <%= active_li_css(@view_by, type.name) %>">
	  <%= link_to type.name, search_local_rewards_path(type.name, params[:address]) if type.name != 'Premium'  %>
	</li>
  <% end %>
</ul>