<% tableize @rewards,
            :name => 'rewards',
            :header => 'Listing Rewards',
            :generate_css => 'true' do |reward| %>

     <h3><%= reward.name %></h3>
     <p>
       <%= reward.description %>
     </p>
     <%= link_to 'show', :action => :index %>

<% end %>
