<div class="cell" id="left"><%= render :partial => 'leftnav' %></div>
<div class="cell" id="center">
  <% unless @rewards.empty? %>
    <%= paginate @rewards %>
    <% tableize @rewards,
                :name => 'rewards',
                :cols => 3,
                :generate_css => false do |reward| %>

      <%= render :partial => "shared/rewardgrid", :locals => {:reward => reward} %>
    <% end %>
  <% else %>
    <div>No search results</div>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rewardsrightbar" %></div>
