<div class="pagetitle"><h1>Reward yourself and others!</h1></div>
<div class="column grid_2">
  <%= render :partial => 'leftnav' %>
</div>
<div class="column grid_8">
  <% unless @rewards.empty? %>
    <p><%= paginate @rewards %></p>
    <% tableize @rewards,
                :name => 'rewards',
                :cols => 4,
                :generate_css => false do |reward| %>

      <%= render :partial => "shared/rewardgrid", :locals => {:reward => reward} %>
    <% end %>
  <% else %>
    <div>No search results</div>
  <% end %>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rewardsrightbar" %>
</div>

