<div class="cell" id="center">
    <% tableize @rewards,
            :name => 'rewards',
            :cols => 4,
            :generate_css => false do |reward| %>

      <%= render :partial => "shared/rewardgrid", :locals => {:reward => reward} %>
    <% end if @rewards %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rewardsrightbar" %></div>
<script type="text/javascript">
  $(document).ready(function() {
    // coupon hover effect
      $(".coupontablet").hover(function() {
        $(this).find(".saved").hide();
      }, function() {
        $(this).find(".saved").show();
      });

  });
</script>
