/* HTML elements  */		

	html, body{margin:0;padding:0;}
	h1, h2, h3, h4, h5, h6{
		font-weight:normal;
		margin:0;
		line-height:1.5em;
	}
	h1{font-size:2em;margin-bottom:.5em;color: #F58220;}
	h2{font-size:1.75em;margin-bottom:.5142em;padding-top:.2em;color: #F58220;}
	h3{font-size:1.5em;margin-bottom:.7em;padding-top:.3em;}
	h4{font-size:1.25em;margin-bottom:.6em;}
	h5,h6{font-size:1em;margin-bottom:.5em;font-weight:bold;}
	
	p, blockquote, ul, ol, dl, form, table, pre{display:block;line-height:inherit;margin:0 0 1.5em 0;}
	article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{display:block;}
	ul, ol, dl{padding:0;list-style: none;}
	ul ul, ul ol, ol ol, ol ul, dd{margin:0;}
	li{margin:0 0 0 2em;padding:0;display:list-item;list-style-position:outside;}	
	blockquote, dd{padding:0 0 0 2em;}
	pre, code, samp, kbd, var{font:100% mono-space,monospace;}
	pre{overflow:auto;}
	abbr, acronym{
		text-transform:uppercase;
		border-bottom:1px dotted #000;
		letter-spacing:1px;
	}
	abbr[title], acronym[title]{cursor:help;}
	small{font-size:.9em;}
	sup, sub{font-size:.8em;}
	em, cite, q{font-style:italic;}
	img{border:none;}			
	hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:0 0 1.5em 0;padding:0;}	
	table{width:100%;border-collapse:collapse;}
	th,caption{text-align:left;}	
	label{display:block;}
	fieldset{margin:0;padding:0;border:none;}
	legend{font-weight:bold;}
	input, select{vertical-align:middle;}
	input[type="radio"],input[type="checkbox"], .radio, .checkbox{margin:0 .25em 0 0;}

/* //  HTML elements */	

/* common */		
	
	.left{float:left;margin-right:1em;}
	.right{float:right;margin-left:1em;}
	.center{text-align:center;}
	
	.clear{clear:both;}
	.block{display:block;clear:both;}
	.first{margin-left:0 !important;}
	.last{margin-right:0 !important;}
	.top{margin-top:0 !important;}
	.bottom{margin-bottom:0 !important;}	
	.hidden, .print{display:none;}
	.graphic{
		margin:0;
		padding:0;
		display:block;
		overflow:hidden;
		text-indent:-8000px;
	}

/* // common */			

/* base */
	
	body, table, input, textarea, select, li, button{
		font:1em "微软雅黑", Arial,Verdana,Helvetica,Sans-Serif;
		line-height:1.5em;
		color:#828584;
		}		
	body{
		font-size:12px;
		background:#fff;
		text-align:left;
		}	
	a, a:visited{
		text-decoration:none;
		color:#828584;
        /*color:#F58220;*/
		}
	a:hover{color:#F58220;}
    .current a{color:#F58220;}
    a.btn {
        color: #828584;
        text-decoration: none;
        padding: 7px 9px;
        background: #DFDFDF;
    }
	ins{text-decoration:none;color:#900;font-style:italic;}
	code{color:#555;}
	pre{
		margin-left:2em;
		padding-left:2em;
		border-left:1px solid #ccc;
		}
	blockquote{
		margin-left:2em;
		border-left:1px solid #ccc;
		font-style:italic;
		}	
	dt{font-weight:bold;}
	/*th, td{padding:.5em 1em;line-height:1.5em;}		*/
	th{background:#eee;}
	td{border-bottom:1px solid #eee;}
	caption{font-style:italic;color:#777;margin:.5em 0;}	
	fieldset{
		border:1px solid #ccc;
		padding:1em 2em;
		margin:0 0 1.5em 0;
		}
	legend{padding:2px 5px;}	
	/*form div{margin:.5em 0;clear:both;overflow:hidden;}*/
    form div{margin:.5em 0;overflow:hidden;}
	form div.col{clear:none;}form div.first{clear:both;}
	
	input[type="text"], input[type="password"], input[type="email"], textarea, .field, .area, select{
		border:1px solid #aaa;
		padding:5px;
		background:#fff;
		width:300px;
		line-height:1em;
		margin:0;
		}
	select{width:312px;}
	textarea, .area{overflow:auto; height:150px; width:400px;}
	input[type="text"]:focus, input[type="password"]:focus, textarea:focus, select:focus, .focus{background:#f5f5f5;outline:none;}
	.submit{}
	button{
		border:none;
		/*background:#555;*/
        background: #F58220;
		color:#fff;
		padding:0 2.5em;
		height:2em;
		line-height:2em;
		cursor:pointer;
		}
		
	.note, .success, .error{display:block;}
	.error{color:#900;}
	.success{color:#060;}
	.note{font-weight:bold;}
	.notvalid{border:1px solid #900 !important;}

    /* two column form styling */
    form div label {float:left;}
    form div input, form div select, form div textarea {float:right;}

    /* single column form styling */
    form .s_column div {height:auto; margin-bottom:3px; padding:0px; float: left}
    form .s_column div label, form .s_column div input, form .s_column div select {float:none;}

    /* Ajax Loader styles */
    .ajax_loader {background: url("/images/spinner_squares_circle.gif") no-repeat center center transparent;width:100%;height:100%;}
    .blue-loader .ajax_loader {background: url("/images/ajax-loader_blue.gif") no-repeat center center transparent;}

    #img-loader{
        position: absolute;
        top: 50%;
        left: 50%;
    }
    #loading{position:absolute;top:0;right:0;z-index:9999;}

    .button div {
        -moz-box-shadow: inset 0px 1px 0px 0px #ffffff;
        -webkit-box-shadow: inset 0px 1px 0px 0px #ffffff;
        box-shadow: inset 0px 1px 0px 0px #ffffff;
        background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #EDEDED), color-stop(1, #DFDFDF) );
        background: -moz-linear-gradient( center top, #EDEDED 5%, #DFDFDF 100% );
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
        background-color: #EDEDED;
        -moz-border-radius: 6px;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        border: 1px solid #B5B5B5;
        display: inline-block;
        color: #777;
        font-family: arial;
        font-size: 15px;
        font-weight: bold;
        height: 30px;
        line-height: 30px;
        width: 30px;
        text-align: center;
        text-decoration: none;
        text-shadow: 1px 1px 0px white;
        cursor: pointer;
        text-transform: capitalize;
    }
/* base */

/* clearfix (use class name "block") */

	.inner:after, .content:after, .cols:after, .block:after{
		content:".";
		display:block;
		height:0;
		clear:both;
		visibility:hidden;
		}
	.inner, .content, .cols, .block{display:block;min-height:1%;}
	* html .inner, * html .content, * html .cols, * html .block{height:1%;}

/* // clearfix */

/* easy elements */

	#easy_tooltip{
		border:1px solid #e1e1e1;
		padding:2px 10px;
		background:#f5f5f5;
		}
	#easy_tooltip span{} /* extra element */

	#easy_popup{ /* popup overlay */
		background:#000;
		}
	#easy_popup_preloader{ /* popup preloader */
		padding:10px;
		background:#fff;
		color:#333;
		}
	#easy_popup_content{ /* popup window */
		padding:10px;
		background:#fff;
		color:#333;
		}
	#easy_popup_content .caption{padding-top:10px;}
	#easy_popup_close{ /* popup close button */
		position:absolute;
		float:left;
		left:0;
		top:-24px;
		color:#fff;
		cursor:pointer;
		}
	#easy_popup_gallery{ /* popup gallery navigation */
		position:absolute;
		float:left;
		left:0;
		bottom:-24px;
		color:#fff;
		cursor:pointer;
		}
	#easy_popup_prev{margin-right:5px;}
	#easy_popup_next{}
	#easy_popup_counter{ /* popup gallery counter */
		position:absolute;
		float:left;
		right:0;
		bottom:-24px;
		color:#fff;
		cursor:pointer;
		}

/* // easy elements */