/* Goodlife checkin */
.feedcontainer{
    /*width: 600px;*/
}
.feeditem {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    width: 600px;
}
.feeditem .feedleft {
    display: table-cell;
    vertical-align: top;
    width: 65px;
    padding-right: 10px;
}
.feeditem .feedleft .profilepic {
    background-image: url("/images/im_facebookprofile.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    height: 55px;
    width: 55px;
}
.feeditem .feedleft .stamp {
    height: 75px;
    margin-top: 5px;
    text-align: left;
    width: 55px;
}
.feeditem .feedleft .stamp img {
    height: 55px;
    width: 55px;
}
.feeditem .feedleft .stamp .epictab {
    background-color: #F68200;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #F1F1F1;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: 700;
    height: 18px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 128px;
    width: 55px;
}
.feeditem .feedright {
    display: table-cell;
    vertical-align: top;
}
.feeditem .feedright .title {
    color: #828584;
    font-size: 13px;
    position: relative;
}
.feeditem .feedright .title a {
    color: #F58220;
}
.feeditem .feedright .title .refresh {
    display: none;
    height: 25px;
    position: absolute;
    right: -50px;
    top: 0;
    width: 16px;
}
.feeditem .feedright .title .permlink {
    display: none;
    height: 25px;
    position: absolute;
    right: -25px;
    top: -2px;
    width: 20px;
}
.feeditem .feedright .title .didittoo {
    color: #828584;
    display: none;
    font-size: 8pt;
    padding-top: 2px;
    position: absolute;
    right: -5px;
    text-decoration: none;
    top: -1px;
    width: 60px;
}
.feeditem .feedright .message {
    color: #000000;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-right: 10px;
    text-align: justify;
    /*width: 450px;*/
}
.feeditem .feedright .message .evidence {
    float: left;
    margin: 5px;
    width: 80px;
}
.feeditem .feedright .message .evidence img {
    max-height: 75px;
    max-width: 75px;
}
.feeditem .feedright .timelocation {
    color: #828584;
    font-size: 12px;
    font-style: italic;
}
.feeditem .feedright .timelocation .mobile {
    background: url("/mccoy/img/im_checkin_sprites.png") no-repeat scroll 0 -18px transparent;
    float: right;
    height: 18px;
    width: 16px;
}
.feeditem .feedright .block {
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 10px;
}
.feeditem .feedright .block .image {
    float: left;
    height: 25px;
    width: 35px;
}
.feeditem .feedright .block .image img {
    height: 25px;
    width: 25px;
}
.feeditem .feedright .block .text {
    color: #828584;
    display: table-cell;
    /*float: left;*/
    font-size: 10pt;
    overflow: hidden;
    padding-top: 3px;
    vertical-align: middle;
    width: 380px;
}
.feeditem .feedright .block .text a {
    text-decoration: underline;
}
.feeditem .feedright .props form {
    border-top: 1px solid #F1F1F1;
    margin-top: 20px;
    /*padding-right: 10px;*/
}
.feeditem .feedright .props .proptypeslist {
    padding-top: 10px;
    padding-bottom: 5px;
    /*padding-left: 18px;*/
    list-type: none;
    /*height: 25px;*/
}
.feeditem .feedright .proptypeslist li {
    border-right: 1px solid #F1F1F1;
    float: left;
    font-size: 9pt;
    margin-right: 5px;
    margin-left: 0;
    padding-right: 5px;
}
.feeditem .feedright .props textarea {
    font-size: 10pt;
    height: 20px;
    /*margin-left: 20px;*/
    padding-left: 5px;
    padding-top: 2px;
    resize: none;
    width: 500px;
}
.feeditem .feedright .giveprop {
    display: none;
    font-size: 9pt;
    height: 25px;
    margin-top: 5px;
    text-align: right;
    width: 100%;
}
.feeditem .feedright .giveprop a {
    color: #F58220;
    text-decoration: none;
}
.feeditem .feedright .userprops {
    margin-top:15px;
    border-top: 1px solid #F1F1F1;
}
.feeditem .feedright .userprop {
    color: #828584;
    font-size: 10pt;
    text-align: justify;
    margin-left: 21px;
    margin-top: 10px;
    min-height: 25px;
    overflow: hidden;
    width: 520px;
}
.feeditem .feedright .userprop .profilepic {
    height: 25px;
    width: 35px;
}
.feeditem .feedright .userprop .profilepic img {
    height: 25px;
    width: 25px;
}
.feeditem .feedright .userprop .text {
    min-height: 25px;

}
.feeditem .feedright .userprop .text a {
    color: #F58220;
    text-decoration: none;
}
.feeditem .feedright .userprop .timestamp {
    color: #828584;
    padding-left: 15px;
    width: 85px;
}
/* // Goodlife checkin  */