/* coupon tablet */
    .rewards_table td {
        border-bottom: 0px solid #F1F1F1;
    }
    .coupontablet{
        position: relative;
        float: left;
        margin-left: 10px;
        margin-right: 10px;
        padding-bottom: 10px;
        padding-top: 0;
        width: 185px;
        text-align: center;
    }
    .coupontablet .top {
        border: 2px solid #D1D3D4;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        box-shadow: 5px 5px 5px #C1C1C1;
        height: 125px;
        margin-bottom: 55px;
    }
    .coupontablet .overlay {
        display: none;
        height: 0px;
    }
    .coupontablet:hover .overlay {
        background-color: #000000;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        color: #FFFFFF;
        display: block;
        font-size: 9pt;
        height: 25px;
        left: 0px;
        line-height: 25px;
        opacity: 0.5;
        position: absolute;
        top: 0px;
        width: 100%;
        z-index: 999;
    }
    .coupontablet .overlay a {
        color: #FFFFFF;
    }
    .coupontablet .top .logo {
        background-color: #FFFFFF;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        display: table-cell;
        height: 118px;
        position: relative;
        text-align: center;
        vertical-align: middle;
        width: 230px;
    }
    .coupontablet .top .logo img {
        margin-left: 3px;
        margin-right: 3px;
        margin-top: 6px;
        max-height: 80px;
        max-width: 106px;
    }
    .coupontablet .top a.btn {
        width: 160px;
        background: -moz-linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%) repeat scroll 0 0 #EDEDED;
        background: -webkit-linear-gradient(top, rgba(209, 211, 212, 1) 0%,rgba(148, 150, 153, 1) 100%);
        border: 1px solid #B5B5B5;
        border-radius: 6px 6px 6px 6px;
        /*box-shadow: 0 1px 0 0 #FFFFFF inset;*/
        color: #777777;
        cursor: pointer;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        height: 25px;
        line-height: 25px;
        text-align: center;
        text-decoration: none;
        /*text-shadow: 1px 1px 0 #FFFFFF;*/

        /*letter-spacing: 2px;*/
    }
    a:hover.btn {
        background: -moz-linear-gradient(center top , #DFDFDF 5%, #EDEDED 100%) repeat scroll 0 0 #DFDFDF;
    }
    .coupontablet .main {
        color: #828584;
        font-size: 10pt;
        padding-top: 10px;
        text-align: left;
    }
    .coupontablet .main .title {
        font-weight: 700;
        height: 20px;
        line-height: 12pt;
    }
    .coupontablet .main .points {
        font-size: 8pt;
        font-style: italic;
        font-weight: 400;
        padding-top: 10px;
    }
    .coupontablet .main .readmore {
        height: 25px;
        padding-top: 10px;
    }