/* modal form */
#dialog-form {
  /*border: 1px solid #ccc;*/
  padding: 10px 20px 10px 20px;
}
.ui-widget {
  background: white;
}
.ui-widget-overlay {
  background: #666666;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
  filter: alpha(opacity = 50);
}
.ui-widget-content {
/*color: #333;*/
}
.ui-dialog .ui-dialog-titlebar {
    float: right;
}
.ui-dialog .ui-dialog-titlebar span {
    color: #E1E3E3;
    cursor: pointer;
    font-size: 12pt;
    font-weight: 700;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 16px;
}
/*.ui-dialog-titlebar-close { display:none; }*/

.ui-dialog {
    border: 4px solid #F88123;
    border-radius: 5px 5px 5px 5px;
    font-size: 9pt;
    outline: medium none;
    overflow: hidden;
    position: absolute;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.close {
    color: #E1E3E3;
    cursor: pointer;
    font-size: 15pt;
    font-weight: 700;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 16px;
}
#dialog-form form {
    margin-bottom: 0;
}
.checkin .title {
    
    font-weight: 700;
    font-size: 16px;
}
.checkin .options {
    height: 35px;
    margin-top: 10px;
    
    font-size: 14px;
    overflow: hidden;
}
.checkin .prompt {
    margin-top: 5px;
    font-size: 12pt;
    /*height: 180px;*/
}
.checkin .prompt .textblock {
    height: 20px;
}
.checkin .prompt .textblock .text {
    margin: 0;
    float: left;
    font-size: 12pt;
    
}
.checkin .prompt .textblock .upload {
    margin: 0;
    float: right;
    font-size: 9pt;
    color: #F88123;
}
.checkin .prompt .message {
    padding: 5px;
    background-color: white;
    border: 1px solid #666;
    overflow: hidden;
}
.checkin .prompt .message textarea {
    height: 70px;
    width: 100%;
    resize: none;
    border: 0px;
    font-size: 10pt;
    color: #111;
    float: left;
    line-height: 1.5em;
    padding: 0 0 0 0;
}
.checkin .options .action {
    float: left;
    width: 60px;
    text-align: left;
}
.checkin .options .privacy {
    margin-top: 10px;
    float: right;
    font-size: 12px;
    
    height:35px;
    text-align: right;
    overflow: hidden;
}
.options .item {
    float: left;
    cursor: pointer;
    margin-right: 10px;
    padding-right: 10px;
    border-right: 1px solid #828584;
    position: relative;
}
.options .last {
    float: left;
    cursor: pointer;
    margin-right: 10px;
    padding-right: 10px;
    position: relative;
}
.checkin .location {
    height: 20px;
    width: 100%;
    font-size: 9pt;
    padding: 0px;
    text-align: center;
    margin-top: 2px;
}
/* // modal form */

/* signup form */
#d_signup .formlable {
    font-size: 18px;
    height:30px;
}
#d_signup .header {
    font-size: 11pt;
    color: #F58220;
    font-weight: 700;
    height: 35px;
    margin-top: 10px;
    border-bottom: 1px solid #828584;
    margin-bottom: 20px;
    line-height: 25px;
    overflow: hidden;
    height: 85px;
    line-height: 20px;
}
#d_signup .onestep {
    font-size: 13px;
    padding-bottom: 10px;
}
#d_signup form {
    /*color: #A4A6A9;*/
}
/* // signup form */

/* signin form */
#d_signin {padding-top: 10px;}
#d_signin .header {
    color: #F58220;
    border-bottom: 1px solid #828584;
    height: 30px;
    margin-bottom: 20px;
    font-size: 11pt;
    font-weight: 700;
    overflow: hidden;
}
#d_signin .header .text {
    float: left;
}
#d_signin .header .onestep {
    float: right;
}
#d_signin .header .onestep img {
    height: 20px;
    padding-left: 5px;
}
#d_signin .title {
    width: 100%;
    padding-bottom: 25px;
    line-height: 20px;
    /*color: #A4A6A9;*/
    font-size: 10pt;
}
#d_signin form {
    /*color: #A4A6A9;*/
}

/* // signin form */