/* ----- reset ----- */

body div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	font-family: 'Droid Sans', sans-serif;
	outline: none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol, ul {
	list-style:none;
}

img {
	border: 0px;
	outline: 0px;
}

a {
	color: #828584;
	text-decoration: none;
}

a:hover {
	color: #F58220;
}
/*a.button {*/
    /*font: bold;*/
    /*width:200px;*/
    /*height:40px;*/
    /*background:gray;*/
    /*cursor:pointer;*/
    /*color: white;*/
    /*padding: 10px 20px 10px 20px;*/
/*}*/
/* ----- end of reset ----- */

/* ------ Navigation Text ------ */

h1 {
	font-weight: 400;
	font-size: 34px;
	color: #F58220;
}
/* ------ Home Screen ------ */

.home_body {
	margin: 0px;
	background-color: #fff;
}

.home_content {
	width: 100%;
	background-color: #f58322;
	height: 325px;
	margin-top: 10px;
	padding-top: 20px; padding-bottom: 20px;
}

	.home_center {
		background-color: #fff;
		height: 325px;
		border: 1px solid #fff;
		margin-right: 10px;
	}

		.home_center .textarea {
			float: left;
			height: 100%;
			width: 400px;
			padding: 20px;
		}

			.home_center .textarea .bigtext {
				font-size: 25pt;
				color: #f58322;
				font-weight: 700;
				margin-bottom: 30px;
				line-height: 35px;
			}

			.home_center .textarea .subtext {
				color: #828584;
				font-size: 13pt;
				line-height: 23px;
				margin-bottom: 25px;
			}
			.home_center .textarea .subtext a {
				color: #f58322;
			}
			.home_center .textarea .action {
				color: #828584;
				font-size: 12pt;
			}

		.home_center .image {
			width: 500px;
			padding-top: 9px;
			float: right;
			padding-right: 20px;
			text-align: right;
		}

/* ------ end of Home Screen ------ */

html, body {
height: 100%;
}
#header {
   /*background:#ff0;*/
   /*padding:0 1em 1em 0;*/
   /*height: 60px;*/
}
#wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -60px auto; /* exactly the height of footer */
}
#content {
    background-color: white;
    /*border: 8px solid #143463;*/
    /*padding: 7px 7px;*/
    /*margin: 1em auto;*/
}
#footer{
   padding:1em;
   height: 60px;
   clear: both;
   position: relative;
   /*background: #6cf;*/
}
.footer {
    border-top: 1px solid #828584;
    height: 35px;
    padding-top: 10px;
}
.footer .item {
    color: #828584;
    float: left;
    font-size: 9pt;
    margin-right: 40px;
}
.footer ul {
    padding: 0;
    margin: 0;
    text-align: right;
}
.footer li {
    color: #828584;
    display:inline;
    float: left;
    font-size: 9pt;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
}
.footer li span.disabled {
    color: #888888;
}
.subfooter {
    color: #828584;
    font-size: 8pt;
    text-align: center;
}
.footer a, .team_navigation a:visited, .team_navigation a:hover {
    border: none;
    padding:0;
    margin:0;
    font-weight: normal;
}
.footer a:hover {
    font-weight: normal;
    color: #F58220;
}
#clear{
   height: 60px;
   clear: both;
}


/* site nav menu */
.navcontainer {
    float: right;
    margin: 0 0 0 auto;
}
.menu {
	padding: 0;
	list-style: none;
}
.menu li {
	padding: 0;
	margin: 0 10px;
	float: left;
	position: relative;
	text-align: left;
}
.menu a {
    padding-bottom: 8px;
	display: inline;
	text-decoration: none;
}
.menu a:hover {
    color: #F58220;
}
.bottombar {
    margin-top: 8px;
    border-top: 1px solid #828584;
    width: 110px
}
.submenu {
	width: 360px;
	height: 45px;
	position: absolute;
	top: 20px;
	padding-top: 20px;
	font-style: normal;
	z-index: 2;
	display: none;

}
span#subnav_feats {
    text-align: left;
	left: -60px;
}
span#subnav_rewards {
    text-align: left;
    left: -100px;
}
span#subnav_team {
    text-align: left;
    left: -60px;
}
span#subnav_profile {
    text-align: right;
    right: 0px;
}
.submenu a {
	padding: 10px 5px;
	display: inline;
	text-decoration: none;
	font-weight: normal;
}
.submenu a#subnavActive {
    color: #F58220;
}
/* end of nav menu */

/* progress bar */
.progress_container {
    background: #DDD;
    border: 1px solid gray;
    height: 20px;
}
.progress {
    background: #9acd32;
    height: 20px;
}
.progress_text {
    font-size: 11px;
    position: relative;
    top: -14px;
    left: 0;
    text-align: center;
}
/*  100% done */
.progress_done {
    font-size: 11px;
    color: white;
    text-align: center;
    background: green;
    height: 20px;
    border: 1px solid gray;
}
/* end of progress bar */


/* modal form */
#dialog-form {
  /*border: 1px solid #ccc;*/
  padding: 20px;
}


.ui-widget {
  background: white;
}

.ui-widget-overlay {
  background: #666666;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
/* end of modal form */

/* header */
#header {
    clear: both;
    height: 80px;
    overflow: hidden;
}
#header .logo {
    float: left;
    height: 80%;
    position: relative;
    width: 230px;
}
#header .logo img {
    margin-top: -22px;
    position: absolute;
    top: 50%;
}
#header .navigation {
    float: right;
    height: 100%;
    overflow: hidden;
}
.navcontainer {
    height: 60px;
    overflow: hidden;
}
.navitem {
    color: #828584;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    padding-right: 15px;
    padding-top: 5px;
    width: 130px;
}
/* end of header */

.pagetitle {
    height: 25px;
    margin-bottom: 50px;
}
.pagetitle h1 {
    font-weight: 700;
}
li.leftnavitem {
    color: #828584;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
}
li.active a {
    color: #F58220;
    font: bold;
}

.ui-dialog-titlebar-close { display:none; }

.ui-dialog {
    border: 4px solid #F88123;
    border-radius: 5px 5px 5px 5px;
    font-size: 9pt;
    outline: medium none;
    overflow: hidden;
    position: absolute;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.close {
    color: #E1E3E3;
    cursor: pointer;
    font-size: 15pt;
    font-weight: 700;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 16px;
}

.header {
    border-bottom: 1px solid #828584;
    color: #F58220;
    font-size: 11pt;
    font-weight: 700;
    /*height: 35px;*/
    /*line-height: 25px;*/
    margin-bottom: 20px;
    margin-top: 10px;
}
/*.title {*/
    /*color: #A4A6A9;*/
    /*font-size: 10pt;*/
    /*line-height: 20px;*/
    /*padding-bottom: 25px;*/
    /*width: 100%;*/
/*}*/
.formrow {
    height: 35px;
    margin-bottom: 10px;
    position: relative;
}
.formlabel {
    color: #A4A6A9;
    float: left;
    font-size: 10pt;
    line-height: 25px;
    width: 105px;
}
.forminput {
    float: left;
    width: 250px;
}
.forminput input {
    height: 20px;
    width: 100%;
}
.button {
    cursor: pointer;
    text-decoration: none;
}
.button div {
    background: -moz-linear-gradient(center top , #D1D3D4 0%, #949699 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.rightbarsection {
    border-top: 1px solid #828584;
    margin-bottom: 30px;
    margin-top: 20px;
    padding-bottom: 10px;
    padding-top: 10px;
}
.rightbarsection .title {
    color: #828584;
    font-size: 12pt;
    height: 20px;
    line-height: 20px;
    margin-bottom: 10px;
}
.rightbarsection img {
    width: 25px;
}
.lifescoreblock .profilepic {
    background-image: url("/images/im_facebookprofile.png");
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-size: 100% auto;
    float: left;
    height: 105px;
    width: 105px;
}
.lifescoreblock .lifescore {
    display: table-row;
    height: 105px;
    width: 160px;
    height: 25px;
    padding-left: 12px;
}
.lifescoreblock .lifescore .score {
    color: #828584;
    display: table-cell;
    font-size: 12pt;
    width: 65px;
    padding-left: 12px;
}
.lifescoreblock .lifescore .name {
    color: #828584;
    display: table-cell;
    font-size: 9pt;
    line-height: 14px;
}
.rightbarrow {
    display: table-row;
}
.rightbar_left {
    display: table-cell;
    width: 250px;
}
.rightbar_right {
    display: table-cell;
}
.smalltext {
    color: #828584;
    font-size: 10pt;
}
.smalltext a {
    color: #F58220;
}
.rightbarsection .subfooter {
    background-color: #979BC9;
    color: #828584;
    font-size: 10pt;
    height: 25px;
    line-height: 25px;
    text-align: center;
}
.rightbarsection .subfooter a {
    color: #FFFFFF;
}
.rightbarsection .subtext {
    color: #828584;
    font-size: 8pt;
    line-height: 20px;
    overflow: auto;
    padding-bottom: 10px;
    padding-top: 10px;
}
.feat {
    margin-top: 30px;
}
.feat .main {
    display: table-row;
}
.feat .main .stampside {
    display: table-cell;
    font-size: 13px;
    width: 120px;
}
.feat .main .stampside .stampcontainer {
    height: 295px;
}
.feat .main .details {
    color: #828584;
    display: table-cell;
    font-size: 13px;
    padding-left: 40px;
    padding-top: 15px;
    /*width: 100%;*/
}
.feat .main .details .title {
    color: #828584;
    font-weight: bold;
}
h1 {
    color: #F58220;
    font-size: 34px;
    font-weight: 400;
}
.outer {
    display: table;
}
.homeleft, .homemiddle, .homeright {
    display: table-cell;
    padding: 1em;
    text-align: left;
}
.homecontent {
    border-top: 2px solid #828584;
    padding-top: 1em;
}
.tabs {
    width: 100%;
    margin-top: 50px;
}
.tabs #latest {
    margin-top: 20px;
}
.tabs ul li {
    margin-right: 5px;
}

/* feat grid */
.feats_table td {
    border-bottom: 1px solid #F1F1F1;
    float: left;
    margin-left: 10px;
    margin-right: 20px;
    padding-bottom: 10px;
    padding-top: 0;
    width: 120px;
    height: 300px;
}
.featgrid {
    height: 100%;
    padding-top: 20px;
    text-align: center;
    width: 100%
}
.featgrid .top {
    /*display: table-row;*/
    background-color: #F8FAF8;
    border: 1px solid #EAEBEB;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 5px 5px 5px #C1C1C1;
    width: 117px;
}
.featgrid .top .stamp {
    /*display: table-row;*/
    background-color: #F8FAF8;
    border-left: 1px solid #D3D5D6;
    border-right: 1px solid #D3D5D6;
    border-top: 1px solid #D3D5D6;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    height: 118px;
}
.featgrid .top .stamp img {
    height: 106px;
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    width: 106px;
}
.featgrid .top .sponsor {
    background-color: #F68120;
    border-left: 1px solid #D4D5D6;
    border-right: 1px solid #D4D5D6;
    border-top: 1px solid #F0F0F1;
    color: #FFFFFF;
    font-size: 8pt;
    line-height: 13px;
    min-height: 15px;
    padding: 2px 5px 2px 4px;
    position: relative;
    width: 107px;
}
.featgrid .sponsor a {
    color: #FFFFFF;
}
.button {
    cursor: pointer;
    text-decoration: none;
}
.button div {
    background: -moz-linear-gradient(center top , #D1D3D4 0%, #949699 100%) repeat scroll 0 0 transparent;
    color: #FFFFFF;
    cursor: pointer;
    font-size: 14px;
    font-weight: 700;
    height: 35px;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    width: 100%;
}
.featgrid .middle {
    display: table-row;
    color: #828584;
    font-size: 10pt;
    padding-top: 10px;
    text-align: left;
}
.featgrid .middle .points {
    font-style: italic;
    font-weight: 400;
    height: 22px;
}
.featgrid .middle .title {
    font-weight: 700;
    height: 40px;
    line-height: 12pt;
    overflow: hidden;
}
.featgrid .plannote {
    color: #F58220;
    font-size: 9pt;
    text-align: left;
}
.featgrid .plannote a {
    color: #F58220;
    text-decoration: underline;
}
.featgrid .planoptions {
    color: #828584;
    font-size: 9pt;
    text-align: left;
}
.featgrid .planoptions .title {
    font-size: 10pt;
    font-weight: 700;
    height: 20px;
    line-height: 12pt;
    padding-top: 5px;
    padding-bottom: 0;
}

/* checkin feed */
.feedcontainer {
    display: table-row;
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    padding-left: 10px;
    padding-top: 10px;
}
.feeditem {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    width: 637px;
}
.feeditem .left {
    display: table-cell;
    width: 65px;
}
.feeditem .left .profilepic {
    height: 55px;
    width: 55px;
}
.feeditem .left .stamp {
    height: 75px;
    margin-top: 5px;
    text-align: left;
    width: 55px;
}
.feeditem .left .stamp img {
    height: 55px;
    width: 55px;
}
.feeditem .left .stamp .epictab {
    background-color: #F68200;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #F1F1F1;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: 700;
    height: 18px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 128px;
    width: 55px;
}
.feeditem .right {
    display: table-cell;
}
.feeditem .right .title {
    color: #828584;
    font-size: 15px;
    position: relative;
}
.feeditem .right .title a {
    color: #F58220;
}
.feeditem .right .title .refresh {
    display: none;
    height: 25px;
    position: absolute;
    right: -50px;
    top: 0;
    width: 16px;
}
.feeditem .right .title .permlink {
    display: none;
    height: 25px;
    position: absolute;
    right: -25px;
    top: -2px;
    width: 20px;
}
.feeditem .right .title .didittoo {
    color: #828584;
    display: none;
    font-size: 8pt;
    padding-top: 2px;
    position: absolute;
    right: -5px;
    text-decoration: none;
    top: -1px;
    width: 60px;
}
.feeditem .right .message {
    color: #000000;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 450px;
}
.feeditem .right .message .evidence {
    float: left;
    margin: 5px;
    width: 80px;
}
.feeditem .right .message .evidence img {
    max-height: 75px;
    max-width: 75px;
}
.feeditem .right .timelocation {
    color: #828584;
    font-size: 12px;
    font-style: italic;
}
.feeditem .right .timelocation .mobile {
    background: url("/mccoy/img/im_checkin_sprites.png") no-repeat scroll 0 -18px transparent;
    float: right;
    height: 18px;
    width: 16px;
}
.feeditem .right .block {
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 10px;
}
.feeditem .right .block .image {
    float: left;
    height: 25px;
    width: 35px;
}
.feeditem .right .block .image img {
    height: 25px;
    width: 25px;
}
.feeditem .right .block .text {
    color: #828584;
    display: table-cell;
    float: left;
    font-size: 10pt;
    overflow: hidden;
    padding-top: 3px;
    vertical-align: middle;
    width: 380px;
}
.feeditem .right .block .text a {
    text-decoration: underline;
}
.feeditem .right .props {
    border-top: 1px solid #F1F1F1;
    margin-top: 20px;
}
.feeditem .right .props .proptypeslist {
    height: 25px;
    padding-left: 18px;
    padding-top: 10px;
}
.feeditem .right .proptypeslist li {
    border-right: 1px solid #F1F1F1;
    float: left;
    font-size: 9pt;
    margin-right: 5px;
    padding-right: 5px;
}
.feeditem .right .props textarea {
    font-size: 9pt;
    height: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-top: 2px;
    resize: none;
    width: 450px;
}
.feeditem .right .giveprop {
    display: none;
    font-size: 9pt;
    height: 25px;
    margin-top: 5px;
    text-align: right;
    width: 470px;
}
.feeditem .right .giveprop a {
    color: #F58220;
    text-decoration: none;
}
.feeditem .right .props .userprop {
    color: #828584;
    font-size: 9pt;
    margin-bottom: 5px;
    margin-left: 21px;
    margin-top: 10px;
    min-height: 30px;
    overflow: hidden;
    width: 470px;
}
.feeditem .right .props .userprop .profilepic {
    float: left;
    height: 25px;
    width: 35px;
}
.feeditem .right .props .userprop .profilepic img {
    height: 25px;
    width: 25px;
}
.feeditem .right .props .userprop .text {
    float: left;
    font-size: 9pt;
    width: 300px;
}
.feeditem .right .props .userprop .text a {
    color: #F58220;
    text-decoration: none;
}
.feeditem .right .props .userprop .timestamp {
    color: #828584;
    float: right;
    width: 85px;
}

/* feat checkin dialog */
.checkin .title {
    color: #828584;
    font-size: 16px;
    font-weight: 700;
}
.checkin .options {
    color: #828584;
    font-size: 16px;
    height: 35px;
    margin-top: 10px;
}
.checkin .options .locked {
    color: #F58220;
}
.checkin .prompt .message {
    background-color: #FFFFFF;
    border: 1px solid #666666;
    padding: 5px;
}
.checkin .prompt .message textarea {
    border: 0 none;
    font-size: 9pt;
    height: 45px;
    resize: none;
    width: 100%;
}
.checkin .options .action {
    float: left;
    width: 100px;
}
.checkin .options .privacy {
    color: #828584;
    float: right;
    font-size: 13px;
    margin-top: 10px;
}
.checkin .location {
    color: #828584;
    font-size: 9pt;
    height: 10px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
    width: 100%;
}
.checkin .location .closebutton {
    color: #828584;
    font-size: xx-small;
    vertical-align: top;
}


.thirdnav {
    color: #828584;
    font-size: 16px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.thirdnav ul {
    padding: 0;
    margin: 0;
    text-align: right;
}
.thirdnav li {
    display:inline;
    border-right: 1px solid #828584;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
}
.thirdnav li span.disabled {
    color: #888888;
}
.thirdnav a, .team_navigation a:visited, .team_navigation a:hover {
    border: none;
    padding:0;
    margin:0;
    font-weight: normal;
}
.thirdnav a:hover {
    font-weight: normal;
    color: #F58220;
}
.thirdnav a.active {
    font-weight: bold;
}

/* rewards home page */
.homerighttext {
    color: #F58220;
    height: 25px;
    position: relative;
    right: 0;
    text-align: right;
    top: 0;
}
.homeblock {
    background-color: #F58322;
    height: 300px;
    position: relative;
    width: 100%;
}
.homeblock .textarea {
    float: left;
    padding: 20px;
    width: 600px;
}
.homeblock .textarea .bigtext {
    color: #FFFFFF;
    font-size: 30px;
    font-weight: 700;
    width: 100%;
}
.homeblock .textarea .subtext {
    color: #FFFFFF;
    font-size: 15px;
    width: 100%;
}
.homeblock .image {
    float: left;
    width: 350px;
}
.homeblock .image img {
    height: 300px;
}
.homeblockcolumns {
    height: 180px;
    margin-top: 40px;
    width: 100%;
}
.homeblockcolumns .column1 {
    border-top: 2px solid #828584;
    color: #828584;
    float: left;
    height: 100%;
    margin-right: 33px;
    margin-top: 10px;
    padding-top: 10px;
    width: 390px;
}
.homeblockcolumns .column1 ul li {
    float: left;
    height: 30px;
    line-height: 20px;
    width: 130px;
    font-size: 9pt;
}
.homeblockcolumns .column2 {
    border-top: 2px solid #828584;
    color: #828584;
    float: left;
    height: 100%;
    margin-right: 33px;
    margin-top: 10px;
    padding-top: 10px;
    width: 310px;
}
.homeblockcolumns .column3 {
    border-top: 2px solid #828584;
    color: #828584;
    float: left;
    height: 100%;
    margin-top: 10px;
    padding-top: 10px;
    width: 310px;
}

/* coupon tablet */
.coupontablet {
    height: 100%;
    padding-top: 20px;
    position: relative;
    text-align: center;
    width: 100%;
}
.coupontablet .overlay {
    background-color: #000000;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #FFFFFF;
    display: none;
    font-size: 9pt;
    height: 25px;
    left: 0;
    line-height: 25px;
    opacity: 0.5;
    position: absolute;
    top: 20px;
    width: 100%;
    z-index: 999;
}
.coupontablet .overlay a {
    color: #FFFFFF;
}
.coupontablet .top {
    background-color: #D1D3D4;
    border: 2px solid #D1D3D4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    box-shadow: 5px 5px 5px #C1C1C1;
    width: 115px;
}
.coupontablet .top .logo {
    background-color: #FFFFFF;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    display: table-cell;
    height: 106px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 115px;
}
.coupontablet .top .logo img {
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 6px;
    max-height: 80px;
    max-width: 106px;
}
.coupontablet .main {
    color: #828584;
    font-size: 10pt;
    padding-top: 10px;
    text-align: left;
}
.coupontablet .main .title {
    font-weight: 700;
    height: 20px;
    line-height: 12pt;
}
.coupontablet .main .points {
    font-style: italic;
    font-weight: 400;
    padding-top: 10px;
}
#invite_teammember {
    padding-top: 30px;
}
/* form */
.form .header {
    border-bottom: 1px solid #828584;
    color: #F58220;
    font-size: 11pt;
    font-weight: 700;
    height: 35px;
    line-height: 25px;
    margin-bottom: 20px;
    margin-top: 10px;
}
.form .formrow {
    height: 35px;
    margin-bottom: 10px;
    position: relative;
}
.form .formlabel_wide {
    color: #A4A6A9;
    float: left;
    font-size: 10pt;
    line-height: 25px;
    width: 205px;
}
.form .forminput {
    float: left;
    width: 250px;
}
.form .forminput input {
    height: 20px;
    width: 100%;
}

.thirdnav {
    color: #828584;
    font-size: 16px;
    height: 25px;
    margin-bottom: 20px;
    margin-top: 50px;
}
.thirdnav .item {
    border-right: 1px solid #828584;
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
}
.thirdnav .last {
    float: left;
    margin-right: 20px;
    padding-right: 20px;
    position: relative;
}
.thirdnav .active {
    color: #F58220;
}

