/* layout */

	#container, .inner{	
		margin:0 auto;
		width: 1000px;
		text-align:left;
		position:relative;
		}
	#header{
		position:relative;
		}	
	#footer{
		position:relative;
		clear:both;
		}	
	
	.content{
		margin:0 auto;
		width: 1000px;
		text-align:left;
		}
	/*.main, .secondary, .tertiary, .quaternary{*/
		/*float:left;*/
		/*display:inline;*/
		/*}*/
	/*.main{width:600px;}*/
	/*.secondary{width:280px;margin-left:40px;}*/
	/*.tertiary{}*/
	/*.quaternary{}*/

    #left {
        width: 185px;
        padding-top: 30px;
    }
    #center{
        width: 100%;
        padding-top: 30px;
        padding-right: 10px;
    }
    #right {
        width: 265px;
        padding-top: 30px;
    }

    .row { display:table; margin:0 auto; }
    .cell { display:table-cell; vertical-align:top; margin-left:10px }

	/* percentage based grid */
		
		/* 
			class name .cols used for column containers
			class name .col used for individual columns
		*/
		
		.cols{margin-bottom:1.5em;overflow:hidden;} /* main column container class */
		.col, .col2, .col3, .col4, .col5{
			float:left;
			display:inline;	
			margin-left:2%;
			}		
		.col{width:49%;} /* 2 equal width columns - default */
		.cols3 .col{width:32%;} /* 3 equal width columns */
		.cols4 .col{width:23.5%;} /* 4 equal width columns */
		.cols5 .col{width:18.4%;} /* 5 equal width columns */
		.cols6 .col{width:15%;} /* 6 equal width columns */
		
		/* double width columns */
		.cols3 .col2{width:66%;} 
		.cols4 .col2{width:49%;} 
		.cols5 .col2{width:38.8%;} 
		.cols6 .col2{width:32%;} 
		
		/* triple width columns */
		.cols4 .col3{width:74.5%;} 
		.cols5 .col3{width:59.2%;} 
		.cols6 .col3{width:49%;} 
		
		/* quadruple width columns */
		.cols5 .col4{width:79.6%;} 
		.cols6 .col4{width:66%;} 
		
		/* quintuple width columns */
		.cols6 .col5{width:83%;} 	
		
	/* percentage based grid */



    /* form */
    .form {
        width: 580px;
        font-size: 13px;
    }
    .form .header {
        font-size: 12pt;
        color: #F58220;
        font-weight: 700;
        height: 35px;
        margin-top: 10px;
        border-bottom: 1px solid #828584;
        margin-bottom: 20px;
        line-height: 25px;
    }
    .form ul {
        float: right;
    }


/* progress bar */
.progress_container {
    background: #DDD;
    border: 1px solid gray;
    height: 20px;
}
.progress {
    background: #9acd32;
    height: 20px;
}
.progress_text {
    font-size: 11px;
    position: relative;
    top: -20px;
    left: 0;
    text-align: center;
}
/*  100% done */
.progress_done {
    font-size: 11px;
    color: white;
    text-align: center;
    background: green;
    height: 20px;
    border: 1px solid gray;
}
/* // progress bar */

/* // layout */



