/* ----- reset ----- */

body div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td {
	margin:0;
	padding:0;
	font-family: 'Droid Sans', sans-serif;
	outline: none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol, ul {
	list-style:none;
}

img {
	border: 0px;
	outline: 0px;
}

a {
	color: #828584;
	text-decoration: none;
}

a:hover {
	color: #F58220;
}
a.button {
    font: bold;
    width:200px;
    height:40px;
    background:gray;
    cursor:pointer;
    color: white;
    padding: 10px 20px 10px 20px;
}
/* ----- end of reset ----- */

/* ------ Navigation Text ------ */

h1 {
	font-weight: 400;
	font-size: 34px;
	color: #F58220;
}
/* ------ Home Screen ------ */

.home_body {
	margin: 0px;
	background-color: #fff;
}

.home_content {
	width: 100%;
	background-color: #f58322;
	height: 325px;
	margin-top: 10px;
	padding-top: 20px; padding-bottom: 20px;
}

	.home_center {
		background-color: #fff;
		height: 325px;
		border: 1px solid #fff;
		margin-right: 10px;
	}

		.home_center .textarea {
			float: left;
			height: 100%;
			width: 400px;
			padding: 20px;
		}

			.home_center .textarea .bigtext {
				font-size: 25pt;
				color: #f58322;
				font-weight: 700;
				margin-bottom: 30px;
				line-height: 35px;
			}

			.home_center .textarea .subtext {
				color: #828584;
				font-size: 13pt;
				line-height: 23px;
				margin-bottom: 25px;
			}

			.home_center .textarea .action {
				color: #828584;
				font-size: 12pt;
			}

		.home_center .image {
			width: 500px;
			padding-top: 9px;
			float: right;
			padding-right: 20px;
			text-align: right;
		}

/* ------ end of Home Screen ------ */

html, body {
height: 100%;
}
#header {
   /*background:#ff0;*/
   /*padding:0 1em 1em 0;*/
   /*height: 60px;*/
}
#wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -60px auto; /* exactly the height of footer */
}
#content {
    background-color: white;
    /*border: 8px solid #143463;*/
    padding: 7px 7px;
    margin: 1em auto;
}
#footer{
   padding:1em;
   height: 60px;
   clear: both;
   position: relative;
   background: #6cf;
}
#clear{
   height: 60px;
   clear: both;
}

/* site nav menu */
.navcontainer {
    float: right;
    margin: 0 0 0 auto;
}
.menu {
	padding: 0;
	list-style: none;
}
.menu li {
	padding: 0;
	margin: 0 10px;
	float: left;
	position: relative;
	text-align: left;
}
.menu a {
    padding-bottom: 8px;
	display: inline;
	color: #000000;
	text-decoration: none;
}
.menu a:hover {
    color: #CB4415;
}
.bottombar {
    margin-top: 8px;
    border-top: 1px solid #828584;
    width: 110px
}
.submenu {
	width: 360px;
	height: 45px;
	position: absolute;
	top: 20px;
	padding-top: 20px;
	font-style: normal;
	z-index: 2;
	display: none;

}
span#subnav_feats {
    text-align: left;
	left: -60px;
}
span#subnav_rewards {
    text-align: left;
    left: -100px;
}
span#subnav_team {
    text-align: left;
    left: -60px;
}
span#subnav_profile {
    text-align: right;
    right: 0px;
}
.submenu a {
	padding: 10px 5px;
	display: inline;
	color: #000000;
	text-decoration: none;
	font-weight: normal;
}
.submenu a#subnavActive {
    color: #CB4415;
}
/* end of nav menu */

/* progress bar */
.progress_container {
    background: #DDD;
    border: 1px solid gray;
    height: 20px;
}
.progress {
    background: #9acd32;
    height: 20px;
}
.progress_text {
    font-size: 11px;
    position: relative;
    top: -14px;
    left: 0;
    text-align: center;
}
/*  100% done */
.progress_done {
    font-size: 11px;
    color: white;
    text-align: center;
    background: green;
    height: 20px;
    border: 1px solid gray;
}
/* end of progress bar */

/* checkin content */
.feed {
    background: -moz-linear-gradient(center top , #FFFFFF 0%, #F2F2F2 100%) repeat scroll 0 0 transparent;
    padding-left: 10px;
    padding-top: 10px;
}
.feeditem {
    border-bottom: 1px solid #F1F1F1;
    margin-bottom: 10px;
    overflow: hidden;
    padding-bottom: 20px;
    padding-top: 15px;
    position: relative;
    width: 637px;
}
.feeditem .left {
    float: left;
    width: 65px;
}

.feeditem .left .stamp {
    height: 75px;
    margin-top: 5px;
    text-align: left;
    width: 55px;
}
.feeditem .left .stamp img {
    height: 55px;
    width: 55px;
}
.feeditem .left .stamp .epictab {
    background-color: #F68200;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top: 1px solid #F1F1F1;
    color: #FFFFFF;
    font-size: 10pt;
    font-weight: 700;
    height: 18px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 128px;
    width: 55px;
}
.feeditem .right {
    float: left;
}
.feeditem .right .title {
    color: #828584;
    font-size: 15px;
    position: relative;
}
.feeditem .right .message {
    color: #000000;
    font-size: 13px;
    padding-bottom: 5px;
    padding-top: 5px;
    width: 450px;
}
.feeditem .right .message .evidence {
    float: left;
    margin: 5px;
    width: 80px;
}
.feeditem .right .message .evidence img {
    max-height: 75px;
    max-width: 75px;
}
.feeditem .right .timelocation {
    color: #828584;
    font-size: 12px;
    font-style: italic;
}
.feeditem .right .block {
    margin-bottom: 5px;
    margin-top: 5px;
    overflow: hidden;
    padding-right: 20px;
    padding-top: 10px;
}
.feeditem .right .block .image {
    float: left;
    height: 25px;
    width: 35px;
}
.feeditem .right .block .image img {
    height: 25px;
    width: 25px;
}
.feeditem .right .block .text {
    color: #828584;
    display: table-cell;
    float: left;
    font-size: 10pt;
    overflow: hidden;
    padding-top: 3px;
    vertical-align: middle;
    width: 380px;
}
.feeditem .right .props {
    border-top: 1px solid #F1F1F1;
    margin-top: 20px;
}
.feeditem .right .props .proptypeslist {
    height: 25px;
    padding-left: 18px;
    padding-top: 10px;
}
.feeditem .right .props textarea {
    font-size: 9pt;
    height: 20px;
    margin-left: 20px;
    padding-left: 5px;
    padding-top: 2px;
    resize: none;
    width: 450px;
}
.feeditem .right .giveprop {
    display: none;
    font-size: 9pt;
    height: 25px;
    margin-top: 5px;
    text-align: right;
    width: 470px;
}
.feeditem .right .giveprop a {
    color: #F58220;
    text-decoration: none;
}
.feeditem .right .props .userprop {
    color: #828584;
    font-size: 9pt;
    margin-bottom: 5px;
    margin-left: 21px;
    margin-top: 10px;
    min-height: 30px;
    overflow: hidden;
    width: 470px;
}
.feeditem .right .props .userprop .profilepic {
    float: left;
    height: 25px;
    width: 35px;
}
.feeditem .right .props .userprop .text {
    float: left;
    font-size: 9pt;
    width: 300px;
}
.feeditem .right .props .userprop .text a {
    color: #F58220;
    text-decoration: none;
}
.feeditem .right .props .userprop .timestamp {
    color: #828584;
    float: right;
    width: 100px;
}

/* modal form */
#dialog-form {
  /*border: 1px solid #ccc;*/
  padding: 20px;
}


.ui-widget {
  background: white;
}

.ui-widget-overlay {
  background: #666666;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5;
}
/* end of modal form */

/* header */
#header {
    clear: both;
    height: 80px;
    overflow: hidden;
}
#header .logo {
    float: left;
    height: 80%;
    position: relative;
    width: 230px;
}
#header .logo img {
    margin-top: -22px;
    position: absolute;
    top: 50%;
}
#header .navigation {
    float: right;
    height: 100%;
    overflow: hidden;
}
.navcontainer {
    height: 60px;
    overflow: hidden;
}
.navitem {
    color: #828584;
    cursor: pointer;
    float: left;
    font-size: 16px;
    font-weight: 400;
    height: 38px;
    line-height: 38px;
    padding-right: 15px;
    padding-top: 5px;
    width: 130px;
}
/* end of header */

.pagetitle {
    padding-bottom: 50px;
}
li.leftnavitem {
    color: #828584;
    font-size: 16px;
    font-weight: 400;
    height: 25px;
}
li.active {
    color: #F58220;
    font: bold;
}

.ui-dialog-titlebar-close { display:none; }

.ui-dialog {
    border: 4px solid #F88123;
    border-radius: 5px 5px 5px 5px;
    font-size: 9pt;
    outline: medium none;
    overflow: hidden;
    position: absolute;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-right, .ui-corner-br {
    border-bottom-right-radius: 4px;
}
.ui-corner-all, .ui-corner-bottom, .ui-corner-left, .ui-corner-bl {
    border-bottom-left-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-right, .ui-corner-tr {
    border-top-right-radius: 4px;
}
.ui-corner-all, .ui-corner-top, .ui-corner-left, .ui-corner-tl {
    border-top-left-radius: 4px;
}
.close {
    color: #E1E3E3;
    cursor: pointer;
    font-size: 15pt;
    font-weight: 700;
    height: 16px;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 16px;
}

.header {
    border-bottom: 1px solid #828584;
    color: #F58220;
    font-size: 11pt;
    font-weight: 700;
    /*height: 35px;*/
    /*line-height: 25px;*/
    margin-bottom: 20px;
    margin-top: 10px;
}
.title {
    color: #A4A6A9;
    font-size: 10pt;
    line-height: 20px;
    padding-bottom: 25px;
    width: 100%;
}
.formrow {
    height: 35px;
    margin-bottom: 10px;
    position: relative;
}
.formlabel {
    color: #A4A6A9;
    float: left;
    font-size: 10pt;
    line-height: 25px;
    width: 105px;
}
.forminput {
    float: left;
    width: 250px;
}
.forminput input {
    height: 20px;
    width: 100%;
}