/* navigation */
    #nav, #nav ul, #nav li{margin:0;}
    #nav ul{}
    #nav li{
        float:left;
        display:inline;
        position:relative;
        line-height:32px;
        height:32px;
        margin-right:2em;
        list-style:none;
        }
    #nav a{}

    /* second level */
    #nav ul{
        position:absolute;
        left:0;
        top:32px;
        padding:5px 10px;
        width:200px;
        background:#fff;
        display:none;
        z-index:1000;
        }
    #nav ul li{
        float:none;
        display:block;
        }

    /* horizontal navigation with separator */
    .thirdnav {
        font-size: 16px;
        margin-bottom: 25px;
    }
    .thirdnav .item {
        float: left;
        margin-right: 20px;
        padding-right: 20px;
        border-right: 1px solid #828584;
        position: relative;
    }
    .thirdnav .last {
        float: left;
        margin-right: 20px;
        padding-right: 20px;
        position: relative;
    }
    /* //horizontal navigation with separator */

    /* left vertical navigation for feats/rewards */
    .leftnavitem {
        width: 100px;
        color: #828584;
        font-size: 16px;
        height: 25px;
        line-height: 25px;
        margin-right: 10px;
        margin-bottom: 5px;
    }

    /* wlecome page nav item */
    .navitem {
        color: #828584;
        cursor: pointer;
        float: left;
        font-size: 16px;
        height: 25px;
        line-height: 25px;
        margin-right: 10px;
        margin-bottom: 5px;
        padding-top: 12px;
        text-align: right
    }
    /* // wlecome page nav item */

/* //navigation */