/* team tablet */
.requests_table td {
    border-bottom: 0px solid #F1F1F1;
    vertical-align: top;
}
.members_table td {
    border-bottom: 0px solid #F1F1F1;
    vertical-align: top;
}
.teamgrid {
    background-color: #FFFFFF;
    border: 1px solid #E5E5E5;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 3px 3px 3px #C1C1C1;
    cursor: pointer;
    float: left;
    height: 150px;
    margin: 10px;
    padding: 10px;
    position: relative;
    width: 136px;
}
.teamgrid  a.btn {
    width: auto;
    display: block;
    color: white;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    padding: 7px 9px;
    background: #D1D3D4;
    background: -moz-linear-gradient(top, rgba(209, 211, 212, 1) 0%, rgba(148, 150, 153, 1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209, 211, 212, 1)), color-stop(100%,rgba(148, 150, 153, 1)));
    background: -webkit-linear-gradient(top, rgba(209, 211, 212, 1) 0%,rgba(148, 150, 153, 1) 100%);
    background: -o-linear-gradient(top, rgba(209, 211, 212, 1) 0%,rgba(148, 150, 153, 1) 100%);
    background: -ms-linear-gradient(top, rgba(209, 211, 212, 1) 0%,rgba(148, 150, 153, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d3d4', endColorstr='#949699',GradientType=0 );
    height: 18px;
    line-height: 18px;
}
.teamgrid .middle {
    padding-top: 5px;
    text-align: left;
    color: #000;
    font-size: 13px;
}
.teamgrid .middle .title {
    font-weight: bold;
}

/* // team tablet */