<div class="feat_checkins">
  <!-- tabs -->
  <ul class="tabs">
    <li><a href="#latest">新事迹</a></li>
    <li><a href="#epic">好事迹</a></li>
  </ul>
  <!-- tab containers -->
  <div class="clear" id="latest" >
    <% @feat.checkins.latest.each do |checkin| %>
      <%= render :partial => "shared/feat_checkins", :locals => {:checkin => checkin } %>
    <% end %>
  </div>
  <div class="clear" id="epic">
    <% @feat.checkins.epic.each do |checkin| %>
      <%= render :partial => "shared/feat_checkins", :locals => {:checkin => checkin } %>
    <% end %>
  </div>
</div>