<ul class="navigation primary">
  <% Tag.of_kind("Feat").each do |type| %>
    <li class="leftnavitem <%= active_li_css(@view_by, type.name) %>">
	  <%=
		link_to_unless(
			(@view_by == type.name),
			type.name,
			:controller => 'feats',
			:action => 'catalog',
			:type => type.name )
	  %>
	</li>
  <% end %>
</ul>
<div style="width: 100px; border-bottom: 1px solid #f1f1f1; margin-top: 15px; margin-bottom: 20px; height: 5px"></div>
<div class="leftnavitem"><%= link_to "Suggest a Feat", "" %></div>