<div class="cell" id="left"><%= render :partial => 'leftnav' %></div>
<div class="cell" id="center">
  <%= paginate @feats %>
  <% tableize @feats,
                :name => 'feats',
                :cols => 4 do |feat| %>

    <%= render :partial => "shared/featgrid", :locals => {:feat => feat} %>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>

