<% tableize @feats,
            :name => 'feats',
            :header => 'Listing Feats',
            :cols => 3,
            :generate_css => 'true' do |feat| %>

     <h3><%= "!#{feat.title}" %></h3>
     <p>
       <%= raw truncate feat.description, :length => 60, :separator => ' ' %>
     </p>
      <%= link_to 'did it', :action => :checkin, :feat_id => feat.id if current_user %>

<% end %>