<div class="column grid_3">
  <h3>Related Feats</h3>
  <%= link_to "Create New Feat", new_admin_feat_path %>
  <h3>Search Feat</h3>
  <%= form_for @search,:url => admin_feats_path, :html => {:method=>'get'} do |f| %>
	<p>
    <%= f.text_field :title_contains %>
	<%= f.submit 'Go' %>
	</p>
  <% end %>
  <h3>View Feat By Category</h3>
</div>