/* ----- reset ----- */

body div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, textarea, p, blockquote, th, td { 
	margin:0;
	padding:0;
	font-family: 'Droid Sans', sans-serif;
	outline: none;
}

table {
	border-collapse:collapse;
	border-spacing:0;
}

ol, ul {
	list-style:none;
}

img {
	border: 0px;
	outline: 0px;
}

a {
	color: #828584;
	text-decoration: none;
}

a:hover {
	color: #F58220;
}

/* ------ Form Elements ------ */

input {
	height: 35px;
	background-color: #fff;
	text-indent: 5px;
	width: 100%;
	font-size: 10pt;
	border: 1px solid #828584;
}

select {
	background-color: #828584;
	width: 110px;
	height: 24px;
	text-align: left;
	font-size: 13px;
	font-weight: 400;
	color: #fff;
	cursor: pointer;
	border: 1px solid #828584;
}

.inputsubmit {
	position: relative;
}

	.inputsubmit img {
		display: none;
		position: absolute;
		width: 24px;
		height: 24px;
		right: 5px;
		top: 6px;
	}
	
.form {

}

	.form .profilepic {
		width: 55px;
		height: 55px;
	}

	.form .header {
		font-size: 11pt;
		color: #F58220;
		font-weight: 700;
		height: 35px;
		margin-top: 10px;
		border-bottom: 1px solid #828584;
		margin-bottom: 20px;
		line-height: 25px;
	}
		
	.form  .formrow {
		float: top;
		height: 35px;
		margin-bottom: 10px;
		position: relative;
	}

		.form  .formlabel {
			float: left;
			font-size: 10pt;
			line-height: 25px;
			color: #a4a6a9;
			width: 105px;
		}
		
		.form  .formlabel_wide {
			float: left;
			font-size: 10pt;
			line-height: 25px;
			color: #a4a6a9;
			width: 205px;
		}		
		
		.form  .forminput {
			float: left;
			width: 250px;
		}
		
			.form .forminput .subline {
				font-size: 9pt;
				color: #a4a6a9;
			}
		
			.form  .forminput input {
				width: 100%;
				height: 20px;
			}
			
			.form  .forminput select {
				width: 100%;
				height: 25px;
				background-color: #fff;
				color: #000;
			}

			.form .forminput textarea {
				width: 100%;
				height: 75px;
				font-size: 9pt;
				padding: 5px;
			}
			
		.form .forminputerror {
			display: none;
			color: #fff;
			font-weight: 700;
			padding: 3px;
			font-size: 10pt;
			position: absolute;
			background-color: #ec8383;
			right: 0px;
			bottom: 5px;
			opacity: 0.9;
		}
			
	.form  .title {
		width: 100%;
		padding-bottom: 25px;
		line-height: 20px;
		color: #a4a6a9;
		font-size: 10pt;
	}
	
	.form .buttoncontainer {
		float: top;
	}
	
	.form .footer {
		font-size: 10pt;
		color: #a4a6a9;
		font-weight: 700;
		height: 35px;
		border-top: 2px solid #a4a6a9;
		margin-top: 20px;
		line-height: 25px;
	}	
	
		.form .footer a {
			color: #F58220;
		}
		
	.form .blockitem {
		float: top;
		width: 580px;
		height: 45px;
	}
		
		.form .blockitem .image {
			float: left;
			width: 45px;
		}
		
			.form .blockitem .image img {
				width: 35px;
				height: 35px;
			}
			
		.form .blockitem .text {
			float: left;
			font-size: 10pt;
			color: #828584;
			width: 420px;
		}
		
		.form .blockitem .action {
			float: left;
			width: 100px;
		}

/* ------ Navigation Text ------ */

h1 {
	font-weight: 400;
	font-size: 34px;
	color: #F58220;
}

/* ------ Navigation Elements ------ */

body {
	margin: 0px;
	position: relative;
}

.header {
	clear: both;
	height: 80px;
	overflow: hidden;
}

		.header .logo {
			float: left;
			width: 230px; height: 80%;
			position: relative;
		}
		
			.header .logo img {
				position: absolute;
				top: 50%;
				margin-top: -22px;
			}
		
		.header .navigation {
			height: 100%;
			float: right;
			overflow: hidden;
		}
		
.header_slim {
	clear: both;
	height: 40px;
	padding: 10px;
}

		.header_slim .logo {
			float: left;
			width: 100px; height: 100%;
		}
		
			.header_slim .logo img {
				height: 25px;
			}
		
		.header_slim .navigation {
			height: 100%;
			float: right;
			overflow: hidden;
		}		

.pagetitle {
	float: top;
	height: 25px;
	margin-top: 10px;
}

	.pagetitle h1 {
		font-weight: 700;
	}
	
	.pagetitle h2 {
		font-size: 14pt;
		font-weight: 700;
		color: #828584;
	}	

.pagetitle_image {
	float: top;
	height: 30px;
	line-height: 40px;
	margin-top: 30px;
	position: relative;
}

	.pagetitle_image .image {
		float: left;
		padding-right: 10px;
		position: absolute;
		left: 0px;
		top: 0px;
	}
	
		.pagetitle_image .image img {
			max-width: 150px;
			max-height: 70px;
		}
	
	.pagetitle_image h1 {
		float: left;
		padding-left: 170px;
	}

.content {
	margin-left: auto; margin-right: auto;
	width: 1050px;
}

#container {
	padding-left: 160px;      /* LC width */
	padding-right: 270px;     /* RC width */
	overflow: visible;
}

	#container .column {
		position: relative;
		float: left;
	}

	#center {
		width: 100%;
	}

	#left {
		width: 155px;             /* LC width */
		right: 160px;             /* LC width */
		margin-left: -100%;
		padding-top: 50px;
	}

	#right {
		width: 265px;             /* RC width */
		margin-right: -100%;
		padding-top: 30px;
	}

#footer {
	clear: both;
	position: relative;
}

.navcontainer {
	float: top;
	height: 60px;
	overflow: hidden;
}

	.navitem {
		padding-top: 5px;
		float: left;
		width: 115px;
		padding-right: 15px;
		height: 38px;
		line-height: 38px;
		color: #828584;
		cursor: pointer;
		font-size: 16px;
		font-weight: 400;
	}
	
		.navitem .selectednav {
			color: #F58220;
		}

		.navitem:hover {
			color: #F58220;
		}
		
		.navitem .bottombar {
			width: 110px;
			border-top: 1px solid #828584;
		}
		
			.navitem .bottombar_selected {
				width: 110px;
				border-top: 1px solid #F58220;
			}
		
		.subnavcontainer {
			float: top;
			height: 25px;
			width: 100%;
		}
		
			.subnavgroup {
				height: 35px;
				display: none;
			}

				.subnavitem {
					float: left;
					margin-right: 20px;
					height: 25px;
					line-height: 15px;
					color: #828584;
					cursor: pointer;
					font-size: 14px;
				}
				
					.subnavitem:hover {
						color: #F58220;
					}
					
					.subnavitem_selected {
						color: #F58220;
					}
					
.leftnavitem {
	float: top;
	height: 25px;
	font-size: 16px;
	font-weight: 400;
	color: #828584;
}

	.leftsubnavitem {
		float: top;
		height: 25px;
		font-size: 13px;
		font-weight: 400;
		color: #828584;
	}

	.leftnavitem_on {
		color: #F58220;
	}
	
.thirdnav {
	float: top;
	height: 25px;
	margin-top: 50px;
	color: #828584;
	font-size: 16px;
	margin-bottom: 20px;
}

	.thirdnav .item {
		float: left;
		margin-right: 20px;
		padding-right: 20px;
		border-right: 1px solid #828584;
		position: relative;
	}
	
		.thirdnav .item .alert {
			border-radius: 5px;
			-moz-border-radius: 5px;
			border: 1px solid #666;
			background-color: #fff54f;
			color: #666;
			min-width: 12px;
			height: 15px;
			position: absolute;
			right: 3px;
			top: -10px;
			font-size: 8pt;
			text-align: center;
		}
	
	
	.thirdnav .item .locked {
		color: #F58220;
	}
	
	.thirdnav .last {
		float: left;
		margin-right: 20px;
		padding-right: 20px;
		position: relative;
	}
	
		.thirdnav .last .locked {
			color: #F58220;
		}
	
		
/* ------ Right Bar ------ */	

.rightbarsection {
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 30px;
	border-top: 1px solid #828584;
	margin-top: 20px;
}

	.rightbarsection .title {
		font-size: 12pt;
		height: 20px;
		line-height: 20px;
		color: #828584;
		margin-bottom: 10px;
	}
	
	.rightbarsection .subtext {
		font-size: 8pt;
		padding-top: 10px; padding-bottom: 10px;
		line-height: 20px;
		color: #828584;
		overflow: auto;
	}
	
	.rightbarsection .subfooter {
		background-color: #979bc9;
		color: #828584;
		text-align: center;
		height: 25px;
		line-height: 25px;
		font-size: 10pt;
	}
	
		.rightbarsection .subfooter a {
			color: #fff;
		}
	
/* ------ Footer ------ */	

.footer {
	float: top;
	border-top: 1px solid #828584;
	padding-top: 10px;
	height: 35px;
}

	.footer .item {
		float: left;
		font-size: 9pt;
		color: #828584;
		margin-right: 40px;
	}
	
	.footer .rightitem {
		float: right;
		width: 110px;
		font-size: 9pt;
		color: #828584;
	}	

.subfooter {
	float: top;
	color: #828584;
	text-align: center;
	font-size: 8pt;
}	

/* ------ Home Screen ------ */

.home_body {
	margin: 0px;
	background-color: #fff;
}

.home_content {
	width: 100%;
	background-color: #f58322;
	height: 325px;
	margin-top: 10px;
	padding-top: 20px; padding-bottom: 20px;
}

	.home_center {
		background-color: #fff;
		height: 325px;
		border: 1px solid #fff;
		margin-right: 10px;
	}
	
		.home_center .textarea {
			float: left;
			height: 100%;
			width: 400px;
			padding: 20px;			
		}
		
			.home_center .textarea .bigtext {
				font-size: 25pt;
				color: #f58322;
				font-weight: 700;
				margin-bottom: 30px;
				line-height: 35px;
			}
			
			.home_center .textarea .subtext {
				color: #828584;
				font-size: 13pt;
				line-height: 23px;
				margin-bottom: 25px;
			}
			
			.home_center .textarea .action {
				color: #828584;
				font-size: 12pt;
			}
			
		.home_center .image {
			width: 500px;
			padding-top: 9px;
			float: right;
			padding-right: 20px;
			text-align: right;
		}

/* ------ Paginate ------ */

.paginate {
	margin-top: 50px;
	float: top;
	text-align: right;
	font-size: 9pt;
	height: 10px;
}

	.paginate .position {
		float: left;
		height: 10px;
		margin-left: 10px;
		color: #828584;
	}

	.paginate .pageblock {
		float: right;
		margin-right: 35px;
	}

		.paginate .pageblock .page {
			float: left;
			padding-left: 5px; padding-right: 5px;
		}
		
		.paginate .pageblock .page_selected {
			float: left;
			padding-left: 5px; padding-right: 5px;
		}
		
			.paginate .pageblock .page_selected a {
				color: #F58220;
				font-weight: 700;
			}
	
/* ------ Feat Grid ------ */

.featgrid {
	height: 100%;
}

	.featgrid .tabletsgrid {
		list-type: none;
	}
	
		.featgrid .tabletsgrid li {
			float: left;
			width: 120px;
			margin-left: 10px;
			margin-right: 20px;
			border-bottom: 1px solid #f1f1f1;
			padding-top: 0px;
			padding-bottom: 10px;
		}
		
	.featgrid .rewardsgrid {
		list-type: none;
	}
	
		.featgrid .rewardsgrid li {
			float: left;
			width: 230px;
			margin-left: 10px;
			margin-right: 10px;
			border-bottom: 1px solid #f1f1f1;
			padding-top: 0px;
			padding-bottom: 10px;
		}		
	
/* ------ Standard Tablet ------ */

.tablet {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 20px;
}

	.tablet .top {
		float: top;
		background-color: #f8faf8;
		border: 1px solid #eaebeb;
		width: 117px;
		-moz-box-shadow: 5px 5px 5px #c1c1c1;
		-webkit-box-shadow: 5px 5px 5px #c1c1c1;
		box-shadow: 5px 5px 5px #c1c1c1;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

		.tablet .top .stamp {
			float: top;
			border-right: 1px solid #d3d5d6;
			border-left: 1px solid #d3d5d6;
			border-top: 1px solid #d3d5d6;
			background-color: #f8faf8;
			height: 118px;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;			
		}
	
			.tablet  .top .stamp img {
				margin-left: 3px; margin-right: 3px; margin-top: 6px;
				width: 106px;
				height: 106px;
			}
	
	.tablet .sponsor {
		float: top;
		width: 107px;
		font-size: 8pt;
		line-height: 13px;
		min-height: 15px;
		color: #fff;
		padding-top: 2px; padding-bottom: 2px;
		padding-left: 4px; padding-right: 5px;
		border-top: 1px solid #f0f0f1;
		border-right: 1px solid #d4d5d6;
		border-left: 1px solid #d4d5d6;
		background-color: #f68120;
		position: relative;
	} 
	
		.tablet .sponsor_blank .new {
			position: absolute;
			top: -130px;
			right: -10px;
			height: 24px;
			width: 24px;
		}
		
		.tablet .sponsor .new {
			position: absolute;
			top: -130px;
			right: -10px;
			height: 24px;
			width: 24px;
		}		
	
		.tablet .sponsor a {
			color: #fff;
		}
	
	.tablet .sponsor_blank {
		float: top;
		width: 107px;
		background-color: #fff;
		font-size: 8pt;
		line-height: 13px;
		min-height: 15px;
		color: #828584;
		padding-top: 2px; padding-bottom: 2px;
		padding-left: 4px; padding-right: 5px;
		border-top: 1px solid #d1d3d4;
		background-color: #fff;
		position: relative;
	} 	
	
	.tablet .main {
		float: top;
		text-align: left;
		font-size: 10pt;
		color: #828584;
		padding-top: 10px;
	}
	
		.tablet .main a {
			color: #F58220;
		}
		
		.tablet .main .title {
			float: top;
			font-weight: 700;
			line-height: 12pt;
			overflow: hidden;
			height: 40px;
		}
		
		.tablet .main .points {
			float: top;
			height: 22px;
			font-weight: 400;
			font-style: italic;
		}
		
			.tablet .main .points .double {
				color: #F58220;
				font-size: 8pt;
				font-style: italic;
				vertical-align: top;
			}
		
		.tablet .main .description {
			float: top;
			font-weight: 400;
		}
		
	.tablet .plannote {
		float: top;
		text-align: left;
		font-size: 9pt;
		color: #F58220;
	}
	
		.tablet .plannote a {
			text-decoration: underline;
			color: #F58220;
		}
		
	.tablet .planoptions {
		float: top;
		text-align: left;
		font-size: 9pt;
		color: #828584;
	}
	
		.tablet .planoptions .title {
			float: top;
			height: 20px;
			font-weight: 700;
			line-height: 12pt;
			font-size: 10pt;
			padding-top: 5px;
		}
	
		.tablet .planoptions .locked {
			text-decoration: underline;
			color: #F58220;
		}
		
			.tablet .planoptions .locked:hover {
				text-decoration: underline;
				color: #F58220;
			}		
	
		.tablet .planoptions  .unlocked {
			text-decoration: none;
			color: #828584;
		}
		
			.tablet .planoptions .unlocked:hover {
				text-decoration: none;
				color: #F58220;
			}	

/* ------ Coupon Tablet ------ */

.coupontablet {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	padding-top: 20px;
	position: relative;
}

	.coupontablet .overlay {
		position: absolute;
		width: 100%;
		top: 20px;
		left: 0px;
		height: 25px;
		line-height: 25px;
		background-color: #000;
		opacity: 0.5;
		display: none;
		color: #fff;
		font-size: 9pt;
		z-index: 999;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;		
	}
	
	.coupontablet .saved {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 10px;
		right: -8px;
		line-height: 25px;
		z-index: 999;
	}	
	
		.coupontablet .overlay a {
			color: #fff;
		}
	
	.coupontablet .top {
		float: top;
		background-color: #d1d3d4;
		border: 2px solid #d1d3d4;
		-moz-box-shadow: 5px 5px 5px #c1c1c1;
		-webkit-box-shadow: 5px 5px 5px #c1c1c1;
		box-shadow: 5px 5px 5px #c1c1c1;
				-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
	}

		.coupontablet .top .logo {
			float: top;
			width: 100%;
			background-color: #f8faf8;
			position: relative;
			height: 118px;
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			width: 115px;
			height: 106px;
			background-color: #fff;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;			
		}
	
			.coupontablet  .top .logo img {
				margin-left: 3px; margin-right: 3px; margin-top: 6px;
				max-width: 106px;
				max-height: 80px;
			}

	.coupontablet .main {
		float: top;
		text-align: left;
		font-size: 10pt;
		color: #828584;
		padding-top: 10px;
	}
		
		.coupontablet .main .title {
			float: top;
			height: 20px;
			font-weight: 700;
			line-height: 12pt;
		}
		
		.coupontablet .main .blockbox {
			float: top;
			height: 95px;
			overflow: hidden;
		}
		
			.coupontablet .main .blockbox .description {
				float: top;
				font-weight: 400;
				font-size: 9pt;
				overflow: visible;
			}

				.coupontablet .main .blockbox .description a {
				}

		.coupontablet .main .points {
			float: top;
			font-weight: 400;
			font-style: italic;
			padding-top: 10px;
		}				
				
		.coupontablet .main .readmore {
			float: top;
			height: 25px;
			padding-top: 10px;
		}

			.coupontablet .main .readmore a {
				color: #F58220;
				font-size: 10pt;
			}
			
/* ------ Reward Tablet ------ */

.rewardtablet {
	width: 100%;
	height: 100%;
	text-align: center;
	position: relative;
	padding-top: 20px;
	position: relative;
}

	.rewardtablet .overlay {
		position: absolute;
		width: 100%;
		top: 20px;
		left: 0px;
		height: 25px;
		line-height: 25px;
		background-color: #000;
		opacity: 0.5;
		display: none;
		color: #fff;
		font-size: 9pt;
		z-index: 999;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;		
	}
	
	.rewardtablet .saved {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 10px;
		right: -8px;
		line-height: 25px;
		z-index: 999;
	}	
	
		.rewardtablet .overlay a {
			color: #fff;
		}
	
	.rewardtablet .top {
		float: top;
		background-color: #d1d3d4;
		border: 2px solid #d1d3d4;
		-moz-box-shadow: 5px 5px 5px #c1c1c1;
		-webkit-box-shadow: 5px 5px 5px #c1c1c1;
		box-shadow: 5px 5px 5px #c1c1c1;
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;		
	}

		.rewardtablet .top .logo {
			float: top;
			width: 100%;
			background-color: #f8faf8;
			position: relative;
			height: 118px;
			vertical-align: middle;
			display: table-cell;
			text-align: center;
			width: 250px;
			background-color: #fff;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;			
		}
	
			.rewardtablet  .top .logo img {
				margin-left: 3px; margin-right: 3px; margin-top: 6px;
				width: 200px;
			}

	.rewardtablet .main {
		float: top;
		text-align: left;
		font-size: 10pt;
		color: #828584;
		padding-top: 10px;
	}
		
		.rewardtablet .main .title {
			float: top;
			height: 20px;
			font-weight: 700;
			line-height: 12pt;
		}
		
		.rewardtablet .main .blockbox {
			float: top;
			height: 95px;
			overflow: hidden;
		}
		
			.rewardtablet .main .blockbox .description {
				float: top;
				font-weight: 400;
				font-size: 9pt;
				overflow: visible;
			}

				.rewardtablet .main .blockbox .description a {
				}

		.rewardtablet .main .points {
			float: top;
			font-weight: 400;
			font-style: italic;
			padding-top: 10px;
		}				
				
		.rewardtablet .main .readmore {
			float: top;
			height: 25px;
		}

			.rewardtablet .main .readmore a {
				color: #F58220;
				font-size: 10pt;
			}					
		
/* ------ Feat Grid ------ */

.widegrid {
	height: 100%;
}

	.widegrid .tabletswidegrid {
		list-type: none;
	}
	
		.widegrid .tabletswidegrid li {
			float: left;
			width: 275px;
			margin-left: 10px;
			margin-right: 10px;
			border-bottom: 1px solid #f1f1f1;
			padding-top: 0px;
			padding-bottom: 20px;
		}
	
/* ------ Standard tabletwide ------ */

.tabletwide {
	width: 275px;
	height: 100%;
	text-align: center;
	padding-top: 20px;
}

	.tabletwide .top {
		float: top;
		background-color: #f8faf8;
		border: 2px solid #eaebeb;
		-moz-box-shadow: 5px 5px 5px #c1c1c1;
		-webkit-box-shadow: 5px 5px 5px #c1c1c1;
		box-shadow: 5px 5px 5px #c1c1c1;	
		-webkit-border-top-left-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-radius-topleft: 5px;
		-moz-border-radius-topright: 5px;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;		
	}
	
		.tabletwide .top .stampdetails {
			padding: 10px;
			border-bottom: 1px solid #d1d3d4;
			-webkit-border-top-left-radius: 5px;
			-webkit-border-top-right-radius: 5px;
			-moz-border-radius-topleft: 5px;
			-moz-border-radius-topright: 5px;
			border-top-left-radius: 5px;
			border-top-right-radius: 5px;			
		}

			.tabletwide .top .stampdetails .stamp {
				float: top;
				width: 100%;
				background-color: #f8faf8;
				height: 106px;
				width: 106px;
			}
	
		.tabletwide .top .subtext {
			line-height: 20px;
			font-size: 8pt;
			color: #666;
			height: 20px;
			text-align: center;
			background-color: #fff;
		}
	
	.tabletwide .main {
		float: left;
		text-align: left;
		font-size: 10pt;
		color: #828584;
		padding-top: 10px;
		width: 400px;
	}
		
		.tabletwide .main .title {
			float: top;
			font-weight: 700;
			line-height: 12pt;
			overflow: hidden;
			height: 40px;
		}
		
			.tabletwide .main .subtitle {
				font-weight: 400;
				font-size: 10pt;
				font-style: italic;
			}
			
			.tabletwide .main .detailtitle {
				float: top;
				font-weight: 700;
				font-size: 10pt;
			}
			
			.tabletwide .main .detailtext {
				float: top;
				font-size: 10pt;
				font-weight: 400;
				overflow: hidden;
			}
			
				.tabletwide .main .detailtext a {
					color: #F58220;
				}
			
				.tabletwide .main .detailtext .progressbar {
					margin-top: 5px;
					height: 17px;
					position: relative;
					width: 275px;
				}
				
					.tabletwide .main .detailtext .progressbar .text {
						color: #828584;
						font-weight: 700;
						font-size: 8pt;
						position: absolute;
						left: 50%;
						height: 17px;
						line-height: 22px;
					}
		
/* ------ Coupon tabletwide ------ */
		

/* ------ Checkin Dialog ------ */

.checkin {
}

	.checkin_epic {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 51%, rgba(242,242,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(51%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(242,242,242,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 51%,rgba(242,242,242,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(255,255,255,1) 51%,rgba(242,242,242,1) 100%); /* W3C */
	}

	.checkin .title {
		color: #828584;
		font-weight: 700;
		font-size: 16px;
	}
	
	.checkin .posttitle {
		color: #F58220;
		font-size: 16px;
		height: 35px;
	}

	.checkin .options {
		float: top;
		height: 15px;
		margin-top: 10px;
		color: #828584;
		font-size: 16px;
	}

		.checkin .options .locked {
			color: #F58220;
		}
		
	.checkin .prompt {
		margin-top: 5px;
		font-size: 12pt;
		height: 80px;
	}
	
		.checkin .prompt .textblock {
			float: top;
			height: 20px;
		}
	
			.checkin .prompt .textblock .text {
				float: left;
				font-size: 12pt;
				color: #828584;
			}
			
			.checkin .prompt  .textblock .upload {
				float: right;
				font-size: 8pt;
			}
			
				.checkin .prompt .textblock .upload a {
					color: #F58220;
				}
	
		.checkin .prompt .message {
			float: top;
			padding: 5px;
			background-color: #fff;
			border: 1px solid #666;
		}
		
			.checkin .prompt .message textarea {
				height: 45px;
				width: 100%;
				resize: none;
				border: 0px;
				font-size: 9pt;
			}
			
			.checkin .prompt .message img {
				max-height: 55px;
				max-width: 55px;
			}			
		
	.checkin .options {
		float: top;
		height: 35px;
	}
	
		.checkin .options .action {
			float: left;
			width: 100px;
		}
		
		.checkin .options .privacy {
			margin-top: 10px;
			float: right;
			font-size: 13px;
			color: #828584;
		}
		
			.checkin .options .privacy .locked {
				color: #F58220;
				text-decoration: underline;
			}
	
	.checkin .block {
		float: top;
		height: 65px;
		margin-top: 15px;
		margin-bottom: 15px;
	}
		
		.checkin .block .image {
			float: left;
			width: 65px;
		}
		
			.checkin .block .image img {
				width: 55px;
				height: 55px;
			}
		
		.checkin .block .text {
			float: left;
			font-size: 13px;
			color: #828584;
			width: 235px;
		}
			
			.checkin .block .text textarea {
				padding: 3px;
				font-size: 8pt;
			}
		
			.checkin .block .text a {
				color: #F58220;
			}		
			
	.checkin .postcheckinblock {
		float: top;
		margin-top: 15px;
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 10px;
		overflow: auto;
	}
		
		.checkin .postcheckinblock .image {
			float: left;
			width: 65px;
			height: 65px;
		}
		
			.checkin .postcheckinblock .image img {
				width: 55px;
				height: 55px;
			}
		
		.checkin .postcheckinblock .text {
			float: left;
			padding-left: 10px;
			font-size: 13px;
			color: #828584;
			width: 280px;
			overflow: auto;
		}
			
			.checkin .postcheckinblock .text textarea {
				padding: 3px;
				font-size: 8pt;
			}
		
			.checkin .postcheckinblock .text a {
				color: #F58220;
			}			
			
	.checkin .location {
		float: top;
		height: 10px;
		width: 100%;
		font-size: 9pt;
		color: #828584;
		padding: 0px;
		text-align: center;
		margin-top: 20px;
	}
	
		.checkin .location .closebutton {
			font-size: xx-small; 
			vertical-align:top;
			color: #828584;			
		}
		
/* ------ Blocks ------ */

.lifescoreblock {
	width: 100%;
	height: 120px;
}

	.lifescoreblock .profilepic {
		float: left;
		width: 105px;
		height: 105px;
		background-size: 100%;
	}
	
	.lifescoreblock .lifescore {
		float: left;
		height: 105px;
		width: 160px;
	}
	
		.lifescoreblock .lifescore .chart {
			float: top;
			padding-left: 8px;
			height: 25px;
			margin-bottom: 10px;
		}
		
			.lifescoreblock .lifescore .chart .image {
				float: left;
				width: 35px;
				height: 25px;
			}
			
			.lifescoreblock .lifescore .chart .status {
				float: left;
				color: #828584;
				font-weight: 700;
				width: 110px;
				line-height: 20px;
				font-size: 10pt;
			}
			
		.lifescoreblock .lifescore .scores {
			float: top;
			height: 25px;
			padding-left: 12px;
		}
		
			.lifescoreblock .lifescore .scores .score {
				float: left;
				font-size: 12pt;
				color: #828584;
				width: 65px;
			}
			
			.lifescoreblock .lifescore .scores .name {
				float: left;
				font-size: 9pt;
				color: #828584;
				line-height: 14px;
			}			
				

/* ------ Feed ------ */

.feed {
	height: 100%;
	padding-right: 50px;
	width: 637px;
}

	.feed .feedgrid {
		list-type: none;
	}

		.feed .feedgrid li {
			float: top;
			width: 100%;
			padding-bottom: 10px;
			margin-bottom: 10px;
			padding-top: 10px;
			position: relative;	
		}
		
.updateblock {
	width: 635px;
	height: 25px;
	line-height: 25px;
	background-color: #8aaca8;
	color: #fff;
	font-size: 9pt;
	text-align: center;
	cursor: pointer;
	border: 1px solid #e6eceb;
	margin-bottom: 10px;
}
		
.feedmore {
	color: #828584;
	font-size: 10pt;
	height: 35px;
	line-height: 25px;
	
}

/* ------ Feed Item ------ */

.feeditem {
	float: top;
	width: 637px;
	border-bottom: 1px solid #f1f1f1;
	padding-bottom: 20px;
	margin-bottom: 10px;
	padding-top: 15px;
	overflow: hidden;
	position: relative;
}

	.feeditemepic {
		background: rgb(255,255,255); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(242,242,242,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(242,242,242,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(242,242,242,1) 100%); /* W3C */
		padding-left: 10px;
		padding-top: 10px;
	}

	.feeditem .left {
		float: left;
		width: 65px;
	}
	
		.feeditem .left .profilepic {
			width: 55px;
			height: 55px;
			float: top;
		}
		
			.feeditem .left .profilepic img {
				width: 55px;
				height: 55px;
			}
			
				.feeditem .left .profilepic .newbietab {
					position: absolute;
					top: 0px;
					left: 0px;
					width: 55px;
					height: 18px;
					background-color: #bdbec2;
					color: #fff;
					font-size: 10pt;
					font-weight: 700;
					text-align: center;
					border-bottom: 1px solid #f1f1f1;
					-webkit-border-top-left-radius: 5px;
					-webkit-border-top-right-radius: 5px;
					-moz-border-radius-topleft: 5px;
					-moz-border-radius-topright: 5px;
					border-top-left-radius: 5px;
					border-top-right-radius: 5px;
				}			

		.feeditem .left .stamp {
			margin-top: 5px;
			width: 55px;
			height: 75px;
			float: top;
			text-align: left;
		}
		
			.feeditem .left .stamp img {
				width: 55px;
				height: 55px;
			}
			
				.feeditem .left .stamp .epictab {
					position: absolute;
					top: 128px;
					left: 0px;
					width: 55px;
					height: 18px;
					background-color: #f68200;
					color: #fff;
					font-size: 10pt;
					font-weight: 700;
					text-align: center;		
					border-top: 1px solid #f1f1f1;
					-webkit-border-bottom-right-radius: 5px;
					-webkit-border-bottom-left-radius: 5px;
					-moz-border-radius-bottomright: 5px;
					-moz-border-radius-bottomleft: 5px;
					border-bottom-right-radius: 5px;
					border-bottom-left-radius: 5px;					
				}
			
	.feeditem .right {
		float: left;
	}
	
		.feeditem .right .title {
			float: top;
			color: #828584;
			font-size: 15px;
			position: relative;			
		}
		
			.feeditem .right .title a {
				color: #F58220;
			}
			
			.feeditem .right .title .didittoo {
				position: absolute;
				top: -1px;
				right: -5px;
				color: #828584;
				text-decoration: none;
				font-size: 8pt;
				padding-top: 2px;
				width: 60px;
				display: none;
			}
			
				.feeditem .right .title .didittoo:a {
					color: #F58220;
				}
				
			.feeditem .right .title .permlink {
				position: absolute;
				top: -2px;
				right: -25px;
				height: 25px;
				width: 20px;
				display: none;
			}

			.feeditem .right .title .refresh {
				position: absolute;
				top: 0px;
				right: -50px;
				height: 25px;
				width: 16px;
				display: none;
			}

			.feeditem .right .title .delete {
				position: absolute;
				top: 0px;
				right: -75px;
				height: 25px;
				width: 16px;
				display: none;
			}			
				
		.feeditem .right .message {
			float: top;
			color: #000;
			font-size: 13px;
			padding-top: 5px;
			padding-bottom: 5px;
			width: 450px;
		}
		
			.feeditem .right .message .evidence {
				float: left;
				margin: 5px;
				width: 80px;
			}
			
				.feeditem .right .message .evidence img {
					max-width: 75px;
					max-height: 75px;
				}
		
		.feeditem .right .timelocation {
			float: top;
			color: #828584;
			font-size: 12px;
			font-style: italic;
		}
		
			.feeditem .right .timelocation .sms {
				background: url(/mccoy/img/im_checkin_sprites.png) no-repeat 0 0px;
				width: 16px;
				height: 18px;
				float: right;
			}
				
			.feeditem .right .timelocation .mobile {
				background: url(/mccoy/img/im_checkin_sprites.png) no-repeat 0px -18px;
				width: 16px;
				height: 18px;
				float: right;
			}	

			.feeditem .right .timelocation .fsq {
				background: url(/mccoy/img/im_checkin_sprites.png) no-repeat 0 -36px;
				width: 16px;
				height: 25px;
				float: right;
			}

			.feeditem .right .timelocation .fbp {
				background: url(/mccoy/img/im_checkin_sprites.png) no-repeat 0 -62px;
				width: 20px;
				height: 25px;
				float: right;
			}
			
			.feeditem .right .timelocation .jawbone {
				background: url(/mccoy/img/im_up.png) no-repeat;
				width: 20px;
				height: 25px;
				float: right;
			}			
		
		.feeditem .right .block {
			float: top;
			overflow: hidden;
			padding-top: 10px; padding-right: 20px;
			margin-top: 5px; margin-bottom: 5px;
		}
		
			.feeditem .right .block .image {
				float: left;
				width: 35px;
				height: 25px;
			}
			
				.feeditem .right .block .image img {
					width: 25px;
					height: 25px;
				}

			.feeditem .right .block .text {
				float: left;
				font-size: 10pt;
				color: #828584;
				width: 380px;
				overflow: hidden;
				padding-top: 3px;
				display: table-cell; vertical-align: middle;
			}
			
				.feeditem .right .block .text a {
					text-decoration: underline;
				}

		.feeditem .right .props {
			float: top;
			margin-top: 20px;
			border-top: 1px solid #f1f1f1;
		}
		
			.feeditem .right .props .proptypeslist {
				float: top;
				padding-top: 10px;
				padding-left: 18px;
				list-type: none;
				height: 25px;
			}
			
				.feeditem .right .proptypeslist li {
					float: left;
					padding-right: 5px;
					font-size: 9pt;
					border-right: 1px solid #f1f1f1;
					margin-right: 5px;
				}
			
			.feeditem .right .props textarea {
				float: top;
				height: 20px;
				font-size: 9pt;
				width: 450px;
				margin-left: 20px;
				padding-left: 5px;
				padding-top: 2px;
				resize: none;
			}
			
			.feeditem .right .giveprop {
				float: top;
				text-align: right;
				font-size: 9pt;
				width: 470px;
				display: none;
				height: 25px;
				margin-top: 5px;
			}
			
				.feeditem .right .giveprop a {
					color: #F58220;
					text-decoration: none;
				}

			.feeditem .right .props .userprop {
				float: top;
				color: #828584;
				font-size: 9pt;
				width: 470px;
				min-height: 30px;
				overflow: hidden;
				margin-bottom: 5px;
				margin-left: 21px;
				margin-top: 10px;
			}
			
				.feeditem .right .props .userprop .profilepic {
					float: left;
					width: 35px;
					height: 25px;
				}
				
					.feeditem .right .props .userprop .profilepic img {
						width: 25px;
						height: 25px;
					}
					
				.feeditem .right .props .userprop .text {
					float: left;
					font-size: 9pt;
					width: 300px;
				}
				
					.feeditem .right .props .userprop .text a {
						color: #F58220;
						text-decoration: none;
					}				
				
				.feeditem .right .props .userprop .timestamp {
					float: right;
					color: #828584;
					width: 85px;
				}

/* ------ Feat Page ------ */

.feat {
	margin-top: 30px;
	width: 637px;
}

	.feat .main {
		float: top;
		overflow: hidden;
	}
	
		.feat .main .stampside {
			float: left;
			width: 120px;
			font-size: 13px;
		}
		
			.feat .main .stampside .stampcontainer {
				height: 295px;
			}
		
		.feat .main .details {
			padding-left: 40px;
			float: left;
			width: 420px;
			padding-top: 15px;
			font-size: 13px;
			color: #828584;
		}
		
			.feat .main .details a {
				color: #F58220;
			}
		
			.feat .main .details .title {
				color: #828584;
				font-weight: bold;
			}		
	
	.feat .sponsorrow {
		float: top;
		margin-top: 10px;
		min-height: 50px;
		background-color: #eaeaea;
		border: 1px solid #dddddd;
		padding-top: 10px;
		padding-left: 10px;
		padding-right: 10px;
		padding-bottom: 17px;
		width: 590px;
		margin-bottom: 10px;
	}
	
		.feat .sponsorrow .sponsorbanner {
			width: 586px;
			padding-top: 10px;
			padding-bottom: 10px;
			position: relative;
			background-color: #fff;
		}
		
			.feat .sponsorrow .sponsorbanner .bottom {
				position: absolute;
				background: url(/mccoy/img/im_bannerbottom_short.png) no-repeat;
				height: 25px;
				width: 600px;
				left: -9px;
				bottom: -13px;
			}
	
		.feat .sponsorrow .sponsorbanner .logo {
			float: left;
			width: 120px;
			height: 120px;
			padding-left: 30px;
		}
		
			.feat .sponsorrow .sponsorbanner .logo img {
				max-width: 120px;
				max-height: 90px;
			}
		
		.feat .sponsorrow .sponsorbanner .text {
			padding-left: 40px;
			color: #828584;
			font-size: 14px;
			width: 350px;
			height: 100px;
			display: table-cell;
			vertical-align: middle;
		}
		
			.feat .sponsorrow .sponsorbanner .text a {
				color: #F58220;
			}
		
	.feat .feedoptions {
		float: top;
		height: 25px;
		margin-top: 20px;
		border-top: 1px solid #828584;
		color: #828584;
		padding-top: 20px;
		font-size: 16px;
	}
	
		.feat .feedoptions .locked {
			color: #F58220;
		}
		
			.feat .feedoptions .locked:hover {
				text-decoration: underline;
				color: #F58220;
			}		
	
		.feat .feedoptions  .unlocked {
			text-decoration: none;
			color: #828584;
		}
		
			.feat .feedoptions .unlocked:hover {
				text-decoration: none;
				color: #F58220;
			}			
	
	.feat .checkins {
		float: top;
	}
	
/* ------ User Page ------ */

.userinfo {
	width: 637px;
}

	.userinfo .main {
		float: top;
		overflow: auto;
		border-bottom: 1px solid #f1f1f1;
		padding-bottom: 20px;
	}
	
		.userinfo .main .profilepic {
			float: left;
			width: 100px;
			font-size: 13px;
			height: 100px;
		}
		
			.userinfo .main .profilepic img {
				width: 100px;
				height: 100px;
			}
		
		.userinfo .main .details {
			padding-left: 40px;
			float: left;
			width: 420px;
			font-size: 13px;
			color: #828584;
		}
		
			.userinfo .main .details .title {
				color: #828584;
				font-weight: bold;
			}		
	
	.userinfo .feedoptions {
		float: top;
		height: 25px;
		margin-top: 20px;
		border-top: 1px solid #828584;
		color: #828584;
		padding-top: 20px;
		font-size: 16px;
	}
	
		.userinfo .feedoptions .locked {
			color: #F58220;
		}
		
			.userinfo .feedoptions .locked:hover {
				text-decoration: underline;
				color: #F58220;
			}		
	
		.userinfo .feedoptions  .unlocked {
			text-decoration: none;
			color: #828584;
		}
		
			.userinfo .feedoptions .unlocked:hover {
				text-decoration: none;
				color: #F58220;
			}			
	
	.userinfo .checkins {
		float: top;
	}	
		
/* ------ General Home Elements ------ */

.homeblock {
	float: top;
	width: 100%;
	height: 300px;
	background-color: #f58322;
	position: relative;
}

	.homeblock .sponsortext {
		margin: 20px;
		background-color: #fff;
		float: left;
		padding: 10px;
		left: 0px;
		right: 0px;
		bottom: 0px;
		top: 0px;
		position: absolute;
	}

	.homeblock .textarea {
		float: left;
		width: 600px;
		padding: 20px;
	}
	
		.homeblock .textarea a {
			color: #fff;
			text-decoration: underline;
		}
	
		.homeblock .textarea .bigtext {
			font-size: 30px;
			color: #fff;
			font-weight: 700;
			width: 100%;
		}
		
		.homeblock .textarea .subtext {
			font-size: 15px;
			color: #fff;
			width: 100%;
		}		
	
	.homeblock .image {
		float: left;
		width: 350px;
	}	
	
.homerighttext {
	position: relative;
	text-align: right;
	right: 0px; top: 0px;
	height: 25px;
	color: #F58220;
}

.homelefttext {
	position: relative;
	text-align: left;
	left: 0px; top: 0px;
	height: 25px;
	color: #F58220;
}

.homeblockcolumns {
	float: top;
	width: 100%;
	height: 180px;
	margin-top: 40px;
}

	.homeblockcolumns .column1 {
		float: left;
		margin-top: 10px;
		padding-top: 10px;
		width: 390px;
		height: 100%;
		border-top: 2px solid #828584;
		color: #828584;
		margin-right: 33px;
	}
	
		.homeblockcolumns .column1 ul {
			list-type: none;
		}
		
			.homeblockcolumns .column1 ul li {
				float: left;
				width: 130px;
				height: 30px;
				line-height: 20px;
			}
	
	.homeblockcolumns .column2 {
		float: left;
		margin-top: 10px;
		padding-top: 10px;
		width: 295px;
		height: 100%;
		border-top: 2px solid #828584;
		color: #828584;
		margin-right: 33px;
	}

	.homeblockcolumns .column3 {
		float: left;
		margin-top: 10px;
		padding-top: 10px;
		width: 295px;
		height: 100%;
		color: #828584;
		border-top: 2px solid #828584;
	}	
	
		.homeblockcolumns .column3 a {
			color: #828584;
		}	

.homesubline {
	margin-top: 10px; margin-bottom: 10px;
	color: #828584;
	font-size: 12pt;
}

	.homesubline h3 {
		color: #F58220;
		font-weight: 700;
		font-size: 12pt;
	}
		
/* ------ Dialog Box ------ */

.dialog {
	display: none;
	border: 4px solid #f88123;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;	
	padding: 20px;
	width: 400px;
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 61%, rgba(233,233,235,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(61%,rgba(255,255,255,1)), color-stop(100%,rgba(233,233,235,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 61%,rgba(233,233,235,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 61%,rgba(233,233,235,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 61%,rgba(233,233,235,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e9e9eb',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 61%,rgba(233,233,235,1) 100%); /* W3C */
	padding-top: 25px;
	-moz-box-shadow: 5px 5px 5px #666;
	-webkit-box-shadow: 5px 5px 5px #666;
	box-shadow: 5px 5px 5px #666;
}

	.dialog .close {
		position: absolute;
		top: 3px;
		right: 3px;
		width: 16px; height: 16px;
		font-weight: 700;
		color: #e1e3e3;
		cursor: pointer;
		font-size: 15pt;
	}
	
	.orangecircle {
		position: absolute;
		left: -15px;
		top: 10px;
		width: 25px;
		height: 25px;
	}

.dialog_message {
	padding-top: 10px;
}
	
	.bigheader {
		color: #828584;
		font-size: 23pt;
		line-height: 30px;
	}
	
	.subheader {
		margin-top: 15px;
		font-size: 15pt;
		color: #F58220;
		font-weight: 700;
	}
	
	.text {
		color: #828584;
		font-size: 10pt;
	}
	
	.colortext {
		color: #F58220;
		font-size: 10pt;		
	}
	
	.smalltext {
		color: #828584;
		font-size: 10pt;
	}
	
		.smalltext a {
			color: #F58220;
		}
		
/* ------ Buttons ------ */

.button {
	text-decoration: none;
	cursor: pointer;
}

.button div {
	background: rgb(209,211,212); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(209,211,212,1) 0%, rgba(148,150,153,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(209,211,212,1)), color-stop(100%,rgba(148,150,153,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(209,211,212,1) 0%,rgba(148,150,153,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(209,211,212,1) 0%,rgba(148,150,153,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(209,211,212,1) 0%,rgba(148,150,153,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d1d3d4', endColorstr='#949699',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(209,211,212,1) 0%,rgba(148,150,153,1) 100%); /* W3C */
	width: 100%;
	height: 35px;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 35px;
	cursor: pointer;	
}

	.button div:hover {
		background: rgb(157,161,163); /* Old browsers */
		background: -moz-linear-gradient(top, rgba(157,161,163,1) 0%, rgba(112,114,118,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(157,161,163,1)), color-stop(100%,rgba(112,114,118,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(157,161,163,1) 0%,rgba(112,114,118,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(157,161,163,1) 0%,rgba(112,114,118,1) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(157,161,163,1) 0%,rgba(112,114,118,1) 100%); /* IE10+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9da1a3', endColorstr='#707276',GradientType=0 ); /* IE6-9 */
		background: linear-gradient(top, rgba(157,161,163,1) 0%,rgba(112,114,118,1) 100%); /* W3C */
	}
	
	.button .button_down {
		box-shadow:inset 0 5px 10px #d1d3d4; 
		-moz-box-shadow:inset 0 5px 10px #d1d3d4;
		-webkit-box-shadow:inset 5px 0 10px #d1d3d4;
	}
	
.button_epic div {
	width: 100%;
	height: 35px;
	text-align: center;
	font-size: 16px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
	line-height: 35px;
	cursor: pointer;		
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(247,136,3,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(247,136,3,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,136,3,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,136,3,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,136,3,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f78803',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 0%,rgba(247,136,3,1) 100%); /* W3C */
}
	
/* ------ Corp Pages ------ */

.corp {
	color: #828584;
	font-size: 11pt;
	line-height: 20px;
	padding: 0px;
	margin: 0px;
}

	.corp #container {
		width: 100%;
		margin: 0px;
		padding: 0px;
	}

	.corp a {
		color: #F58220;
	}

	.corp .pagetitle {
		color: #F58220;
		font-weight: 700;
		font-size: 25pt;
		margin-bottom: 10px;
		padding-bottom: 10px;
	}
	
	.corp .subtitle {
		color: #F58220;
		font-size: 18pt;
		font-weight: 700;
		margin-top: 10px; margin-bottom: 10px;
	}
	
	.corp p {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	
	.corp h1 {
		color: #F58220;
		font-size: 13pt;
		margin-top: 10px; margin-bottom: 10px;
	}
	
	.corp .block {
		float: top;
		overflow: hidden;
		margin-bottom: 25px;
		padding-bottom: 25px;
	}
	
	.corp .block .column {
		float: left;
		width: 28%;
		margin-right: 5%;
	}
	
	.corp .block .doublecolumn {
		float: left;
		width: 60%;
	}	
	
	.corp ul {
		padding-top: 10px; padding-bottom: 10px;
		list-style: square;
		margin-left: 15px;
		padding-left: 0px;
	}
	
	.corp ol {
		padding-top: 10px; padding-bottom: 10px;
		list-style: square;
		margin-left: 15px;
		padding-left: 0px;
	}	
	
	.corp ul li {
		font-size: 11pt;
		margin-bottom: 10px;
	}
	
	.corp ol li {
		font-size: 11pt;
		margin-bottom: 10px;
	}	
	
/* ------ Sponsor Pages ------ */

.sponsor_right {
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(255,255,255,1) 49%, rgba(247,247,247,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(49%,rgba(255,255,255,1)), color-stop(100%,rgba(247,247,247,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(255,255,255,1) 49%,rgba(247,247,247,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(255,255,255,1) 49%,rgba(247,247,247,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(255,255,255,1) 49%,rgba(247,247,247,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f7f7f7',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(255,255,255,1) 49%,rgba(247,247,247,1) 100%); /* W3C */
}

	.sponsor_title {
		float: top;
		color: #F58220;
		font-size: 30pt;
		line-height: 40px;
		font-weight: 700;
	}
	
	.sponsor_subtitle {
		float: top;
		color: #F58220;
		font-size: 18pt;
		line-height: 10px;
		font-weight: 400;
	}	
	
	.sponsor_text {
		float: top;
		color: #828584;
		font-size: 15pt;
		line-height: 20px;		
	}
	
	.sponsor_smalltext {
		float: top;
		color: #828584;
		font-size: 12pt;
		line-height: 20px;		
	}