<div class="footer">
  <% @pages.each do |page| %>
    <div class="item"><%= link_to page.title, "/corp/#{page.permalink}"%></div>
  <% end if @pages %>
</div>
<div class="subfooter clear"> Copyright (c) Goodlife 2011 </div>