<div class="home_center">
  <div class="textarea">
    <div class="bigtext">Small change adds up.</div>
    <div class="subtext">
	  <%= link_to "Be better. It's easier than you think.", catalog_feats_path %><br>
	  <br>
	  Doing small, positive actions,<br>
	  every day, adds up to big change.<br>
	  We're here to help you get there.<br>
	</div>
    <div class="action">
      <a class="button sign_up" href=<%= new_user_registration_path %>><div style="width: 250px;" >GET STARTED NOW</div></a>
    </div>
  </div>
  <div class="image"><%= image_tag "im_homestamps.png" %></div>
</div>
