<div class="cell" id="center">
  <%= render :partial => "subnav", :locals => {:view_by => @view_by} %>
  <br/>
  <br/>
  <% @checkins.each do |checkin| %>
    <%= render :partial => "shared/checkinfeed", :locals => {:checkin => checkin } %>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>


