<div class="cell" id="center">
  <%= render :partial => "subnav", :locals => {:view_by => @view_by} %>
  <br/>
  <br/>
  <% tableize @teammates,
                :name => 'members',
                :cols => 4,
                :generate_css => false do |teammate| %>

    <%= render :partial => "shared/membergrid", :locals => {:member => teammate} %>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>
