<% tabnav :team do %>
<div class="row">
<div class="column grid_2">
  <%= render :partial => 'subnav' %>
</div>
<div class="column grid_8">
    <% tableize @friends,
                :name => 'members',
                #:header => 'Listing Feats',
                :cols => 4,
                :generate_css => 'true' do |friend| %>

      <h3><%= friend.name %></h3>
      <p><%#= image_tag feat.image.url(:medium) if feat.image %></p>
      <p>Points<%= friend.earned_points %></p>
      <%#= link_to 'did it', checkin_feat_path(feat) if current_user %>
    <% end %>
</div>
</div>
<% end %>