<div class="cell" id="center">
  <%= render :partial => "subnav", :locals => {:view_by => @view_by} %>
  <br/>
  <br/>
  <% tableize @requests,
                :name => 'requests',
                #:header => 'Listing Feats',
                :cols => 4,
                :generate_css => false do |request| %>

    <%= render :partial => "shared/membergrid", :locals => {:member => request} %>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>
