%div{:id=>"d_checkin_post"}
  %h3.popover-title= "很好! 你已经赢得了#{@checkin.feat.bonus_points}个奖励积分!"
  .popover-content
    %p People also do the feats
    = link_to "关闭", "javascript:void(0)", :class => "btn btn-close"

:javascript
  $("#d_checkin_pre").hide();
  $('.popover').position({
              my: 'left center',
              at: 'right center',
              of: $("a[feat_id=1]")
  });
