<div class="cell" id="left"><%= render :partial => 'leftnav' %></div>
<div class="cell" id="center">
    <%= paginate @challenges %>
    <% @challenges.each do |challenge| %>
      <%= render :partial => "shared/challenge", :locals => {:challenge => challenge} %>
    <% end if @challenges %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>


