<div class="cell" id="center">
  <%= render :partial => "shared/challenge", :locals => {:challenge => @challenge} %>
  <% tableize @challenge.feats,
                :name => 'feats',
                :cols => 4 do |feat| %>

    <%= render :partial => "shared/featgrid", :locals => {:feat => feat} %>
  <% end %>
</div>
<div class="cell" id="right"><%= render :partial => "shared/rightbar" %></div>