<div class="pagetitle"><h1><%= @challenge.name %></h1></div>
<div class="column grid_10">
  <%= render :partial => "shared/challenge", :locals => {:challenge => @challenge} %>
  <% tableize @challenge.feats,
                :name => 'feats',
                :cols => 4 do |feat| %>

    <%= render :partial => "shared/featgrid", :locals => {:feat => feat} %>
  <% end %>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div>
