<div class="pagetitle"><h1>This is <%= @member.name %></h1></div>
<div class="column grid_10">
  <p>This is <%= @member.name %>'s basic data and checkins.</p>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div>
