p {
    line-height: 22px;
    color: #595959;
}
h1 {
    font-size: 30px;
    color: #509DD1;
    font-weight: 400;
    margin: 16px 0 16px 0;
}
#feat-illus {
    position: absolute;
    right: 10px;
    top: 0;
}
#checkin-illus {
    position: absolute;
    right: -20px;
    top: 30px;
}