<div class="row">
  <div class="column grid_10">
    <h1>User</h1>

  </div>
  <div class="column grid_3">
    <h3>Search User</h3>
    <%= form_for @search, :url => {:controller => "admin/users", :action => 'index'}, :html => {:method=>'get'} do |f| %>
	  <p>
        <%= f.label :name_or_email_contains %>
		<%= f.text_field :name_or_email_contains %>
      </p>
      <p><%= f.submit 'Go' %></p>
	<% end %>
  </div>
</div>