<%# tabnav :feats do %>
<div class="pagetitle"><h1>Your planned feats</h1></div>
<div class="column grid_2">
  <%= render :partial => 'leftnav' %>
</div>
<div class="column grid_8">
  <p><%= paginate @feats %></p>
  <% tableize @feats,
                :name => 'feats',
                #:header => 'Listing Feats',
                :cols => 4 do |feat| %>

    <%= render :partial => "shared/featgrid", :locals => {:feat => feat} %>
  <% end if @feats %>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div><%# end %>