<div <%= "id=checkin_#{checkin.id}_comments" %>>
  <% checkin.comments.each do |comment| %>
    <div class="userprop">
      <div class="text"><%= "#{comment.user.name} #{comment.content}" %></div>
      <div class="timestamp"><%= time_ago_in_words comment.created_at %> ago</div>
    </div>
  <% end %>
</div>