<% tableize @checkins,
            :name => 'checkins',
            :header => 'Listing Checkins',
            :generate_css => 'true' do |checkin| %>

     <h3><%= "#{checkin.user.name} did !#{checkin.feat.title}" %></h3>
     <p>
       <%= checkin.feat.description %>
     </p>
     <%= "#{time_ago_in_words checkin.created_at} ago"  %>

<% end %>