<div class="pagetitle">
  <h1>
  <% case params[:action] %>
    <% when 'epic' %>
      Recent awesome checkins
    <% else %>
      Give props to people doing good
  <% end %>
  </h1>
</div>
<div class="column grid_10">
<% tabnav :checkins do %>
  <% @checkins.each do |checkin| %>
    <%= render :partial => "shared/checkinfeed", :locals => {:checkin => checkin } %>
  <% end %>
  <div style="clear:both;"></div>

<% end %>
</div>
<div class="column grid_4">
  <%= render :partial => "shared/rightbar" %>
</div>