<!DOCTYPE html>
<html>
<head>
  <title>GoodLife</title>
  <%= stylesheet_link_tag :all %>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
</head>
<body onload="window.print();">
  <%= yield %>
</body>
</html>
