<!DOCTYPE html>
<html>
<head>
  <title>GoodLife</title>
  <%= stylesheet_link_tag :all %>
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <%= javascript_include_tag :defaults, 'jquery-ui-dialog', 'script' %>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>

    <div id="overlay" style="display: none;"><img id="img-loader" src="/images/spinner_squares_circle.gif" alt="Loading"/></div>

</body>
</html>
