<!DOCTYPE html>
<html>
<head>
  <title>GoodLife</title>
  <%= stylesheet_link_tag :all %>
  <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
  <%= javascript_include_tag :defaults, 'jquery-ui', 'script','easy','main' %>
  <meta charset="utf-8">
  <%= csrf_meta_tag %>
</head>
<body>
  <%= yield %>
</body>
</html>
